{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "browsers": ["last 5 Chrome versions"]
      }
    }]
  ],
  "plugins": ["@babel/plugin-proposal-object-rest-spread", "@babel/plugin-syntax-dynamic-import"]
}
