{
    "parserOptions": {
        "parser": "babel-eslint",
        "ecmaVersion": 6,
        "sourceType": "module",
    },
    "globals": {
        "chrome": true,
        "environment": true,
        "it": true,
        "describe": true,
        "beforeEach": true,
        "afterEach": true,
        "expect": true
    },
    "rules": {
        "indent": ["error", 2],
        "quotes": ["error", "single"],
        "linebreak-style": ["error", "unix"],
        "semi": ["error", "always"],
        "vue/html-indent": ["error", 2]
    },
    "env": {"node": true, "browser": true, "es6": true},
    "extends": [
      "eslint:recommended",
      "plugin:vue/recommended"
    ]
}
