/* line 3, ../../sass/modules/text.scss */
body {
  font-family: 'RobotoDraft';
  font-weight: 400;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.87);
}

/* line 10, ../../sass/modules/text.scss */
h2 {
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  font-family: 'RobotoDraft';
  font-weight: 500;
  color: #727272;
  margin: 0;
}

/* line 20, ../../sass/modules/text.scss */
p {
  margin: 3px 0;
}
