.flat_button,
.raised_button {
  @include ripple(#000);
  background-color: $white;
  border: 0;
  height: 36px;
  line-height: 36px;
  min-width: 72px;
  text-transform: uppercase;
  font-weight: medium;
  font-size: 14px;
  margin: 6px 4px;
  padding: 0 8px;
  outline: none;
  color: $black;
  text-decoration: none;

  &:hover {
    background-color: $hover-color;
  }
}

.raised_button {
  @include paper-shadow();
  transition: box-shadow 200ms;

  &:active {
    @include paper-shadow(2);
  }
}

.flat_button {
  float: right;
}

.icon_button:hover {
  cursor: pointer;
  background-color: $hover-color;
  transition: background-color 150ms;
}