.input-container {
  margin: 30px 0 5px;
  position: relative;

  input {
    border-bottom: 1px solid #757575;
    border: none;
    display: block;
    font: inherit;
    width: 300px;

    &:focus {
      outline: none;

      & ~ .input-bar:before,
      & ~ .input-bar:after {
        width: 50%;
      }

      & ~ label {
        color: #4059a9;
        font-size: 10.5px;
        top: -20px;
      }
    }

    &:focus ~ label,
    &:valid ~ label {
      font-size: 10.5px;
      top: -20px;
    }
  }

  label {
    color: #aaaaaa;
    font-size: 14px;
    pointer-events: none;
    position: absolute;
    top: 0;
    -moz-transition: .2s ease all;
    -webkit-transition: .2s ease all;
    transition: .2s ease all;
  }

  .input-bar {
    display: block;
    position: relative;
    width: 300px;

    &:before,
    &:after {
      background: #4059a9;
      bottom: 0;
      content: '';
      height: 2px;
      position: absolute;
      -moz-transition: .2s ease all;
      -webkit-transition: .2s ease all;
      transition: .2s ease all;
      width: 0;
    }

    &:before {
      left: 50%;
    }

    &:after {
      right: 50%;
    }
  }

  .input-description {
    color: #4059a9;
    font-size: 10.5px;

    a {
      color: inherit;
    }
  }
}
