.core-item {
  @include ripple($black);
  border-top: solid 1px transparent;
  line-height: 48px;
  min-height: 48px;
  overflow: hidden;
  padding: 0 16px;
  position: relative;
  transition: border-color 330ms, background-color 150ms;
  width: 100%;

  .core-item-content {
    @include text-truncate;
    width: 100%;
  }

  .core-item-icon {
    padding: 0 16px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  &.expanded {
    border-top-color: #ececec;
  }

  &:not(.without-hover) {
    cursor: pointer;

    &:hover {
      background-color: $hover-color;
    }
  }
}

.core-collapse {
  @include text-truncate;
  border-bottom: solid 1px transparent;
  height: 0;
  overflow-y: hidden;
  transition: height 330ms, border-color 330ms;

  &.expanded {
    border-bottom-color: #ececec;
    height: 48px;
  }
}

.bottom-bar-container {
  bottom: 0;
  height: 50px;
  pointer-events: none;
  position: absolute;

  .bottom-bar-part {
    display: none;
    float: left;
    height: 50px;
    width: 400px;
  }
}
