@mixin text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin paper-shadow($z: 1) {
  @if $z == 1 {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .37);
  } @else if $z == 2 {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .3);
  } @else if $z == 3 {
    box-shadow: 0 11px 7px 0 rgba(0, 0, 0, .19), 0 13px 25px 0 rgba(0, 0, 0, .3);
  } @else if $z == 4 {
    box-shadow: 0 13px 25px 0 rgba(0, 0, 0, .3), 0 14px 12px 0 rgba(0, 0, 0, .17);
  } @else if $z == 5 {
    box-shadow: 0 17px 17px 0 rgba(0, 0, 0, .15), 0 27px 55px 0 rgba(0, 0, 0, .3);
  }
}

@mixin spinner($color: $white, $width: 28px, $border: 2) {
  .loader {
    position: relative;
    margin: 0 auto;
    width: $width*2;
    height: $width*2;
    top: -50%;
    left: -50%;
    transform: translate(-4px, -4px);

    .circular {
      animation: rotate 2s linear infinite;
      height: $width*2;
      position: relative;
      width: $width*2;

      .path {
        animation: dash 1.5s ease-in-out infinite;
        cx: $width;
        cy: $width;
        fill: none;
        r: $width/5*2;
        stroke: $color;
        stroke-dasharray: 1%,200%;
        stroke-dashoffset: 0;
        stroke-linecap: round;
        stroke-width: $border;
      }
    }
  }

  @keyframes rotate{
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes dash{
    0% {
      stroke-dasharray: 1%, 200%;
      stroke-dashoffset: 0;
    }

    50% {
      stroke-dasharray: 89%,200%;
      stroke-dashoffset: -35%;
    }

    100% {
      stroke-dasharray: 89%,200%;
      stroke-dashoffset: -124%;
    }
  }
}

@mixin ripple($color: $white) {
  &.waves-effect {
    cursor: pointer;
    display: block;
    overflow: hidden;
    position: relative;
    user-select: none;
    will-change: opacity, transform;

    .waves-ripple {
      background-color: rgba($color, .25);
      border-radius: 50%;
      height: 10px;
      margin: -10px 0 0 -10px;
      pointer-events: none;
      position: absolute;
      -webkit-transition-duration: 400ms;
      -webkit-transition-timing-function: cubic-bezier(.250, .460, .450, .940);
      width: 10px;
    }
  }
}
