.panel {
  display: none;
  float: left;
  height: 100vh;
  overflow: hidden;
  position: relative;
  width: 400px;

  .panel-header {
    @include paper-shadow(1);
    height: 128px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
  }

  .panel-header-background {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;

    &1,
    &2 {
      background-repeat: no-repeat;
      height: 100%;
      position: absolute;
      width: 100%;
    }
  }

  .panel-header-foreground {
    color: $white;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;

    .top,
    .bottom {
      float: left;
      height: 64px;
      width: 100%;
    }

    .bottom {
      padding: 0 18px;
    }

    a {
      color: $white;
      font-size: 18px;
      font-weight: 500;
      line-height: 64px;
      text-decoration: none;
    }
  }

  .panel-content {
    height: 100%;
    overflow-y: scroll;
    padding-top: 128px;
  }
}
