/* line 3, ../../sass/partials/couchpotato.scss */
#couchpotato::shadow #headerBg {
  background-image: url('/img/../img/CP_header.png?1415198327');
  background-size: auto 60%;
  background-position: 115%;
  background-color: #4e5969;
}

/* line 10, ../../sass/partials/couchpotato.scss */
#couchpotato::shadow #condensedHeaderBg {
  background-image: none;
  background-color: #4e5969;
}

/* line 17, ../../sass/partials/couchpotato.scss */
.wanted h2,
.snatched h2 {
  height: 48px;
  line-height: 48px;
  padding: 0 16px;
}
/* line 23, ../../sass/partials/couchpotato.scss */
.wanted .core-collapse_buttons,
.snatched .core-collapse_buttons {
  position: absolute;
  right: 8px;
  height: 40px;
  top: 0;
}
/* line 29, ../../sass/partials/couchpotato.scss */
.wanted .core-collapse_buttons a,
.snatched .core-collapse_buttons a {
  color: #000;
}
/* line 34, ../../sass/partials/couchpotato.scss */
.wanted .cp_item,
.snatched .cp_item {
  cursor: pointer;
  padding-left: 72px;
  height: 56px;
}
/* line 39, ../../sass/partials/couchpotato.scss */
.wanted .cp_item:hover,
.snatched .cp_item:hover {
  background-color: #eee !important;
}
/* line 42, ../../sass/partials/couchpotato.scss */
.wanted .cp_item:hover .cp_collapse_icon_container,
.snatched .cp_item:hover .cp_collapse_icon_container {
  background-color: #eee !important;
}
/* line 47, ../../sass/partials/couchpotato.scss */
.wanted .cp_item .cp_poster_container,
.snatched .cp_item .cp_poster_container {
  position: absolute;
  left: 16px;
  top: 9px;
  height: 38px;
  width: 38px;
  border-radius: 100%;
  overflow: hidden;
}
/* line 56, ../../sass/partials/couchpotato.scss */
.wanted .cp_item .cp_poster_container .cp_poster,
.snatched .cp_item .cp_poster_container .cp_poster {
  width: 100%;
}

/* line 63, ../../sass/partials/couchpotato.scss */
.cp_collapse_icon_container {
  background-color: #FAFAFA;
  position: absolute;
  right: 0;
  padding: 16px;
}
/* line 69, ../../sass/partials/couchpotato.scss */
.cp_collapse_icon_container .cp_collapse_icon {
  color: #9e9e9e;
}
