/* line 4, ../../sass/partials/designernews.scss */
#designernews::shadow #headerBg {
  background-image: url('/img/../img/DN_header.png?1415210857');
  background-size: auto 60%;
  background-position: 110%;
  background-color: #1c52a2;
}

/* line 11, ../../sass/partials/designernews.scss */
#designernews::shadow #condensedHeaderBg {
  background-image: none;
  background-color: #1c52a2;
}

/* line 16, ../../sass/partials/designernews.scss */
.dn_link_container {
  height: 72px;
}
/* line 19, ../../sass/partials/designernews.scss */
.dn_link_container .dn_story_url {
  padding: 17px 16px 0;
  height: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-decoration: none;
  color: #000;
  width: 312px;
}
/* line 27, ../../sass/partials/designernews.scss */
.dn_link_container .dn_story_url:hover {
  color: #000;
}
/* line 31, ../../sass/partials/designernews.scss */
.dn_link_container .dn_story_url:visited {
  color: #808080;
}
/* line 36, ../../sass/partials/designernews.scss */
.dn_link_container .dn_comments_url {
  margin: 0 0 17px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-decoration: none;
  color: #808080;
  top: initial;
  left: initial;
  right: initial;
  bottom: 0;
}
/* line 46, ../../sass/partials/designernews.scss */
.dn_link_container .dn_comments_url:hover {
  text-decoration: underline;
}
/* line 51, ../../sass/partials/designernews.scss */
.dn_link_container .dn_upvote_container {
  background-color: #FAFAFA;
  position: absolute;
  right: 0;
  padding: 24px 16px;
}
/* line 57, ../../sass/partials/designernews.scss */
.dn_link_container .dn_upvote_container .dn_upvote {
  color: #9e9e9e;
  cursor: pointer;
}
/* line 61, ../../sass/partials/designernews.scss */
.dn_link_container .dn_upvote_container .dn_upvote:hover {
  color: #000;
}
/* line 67, ../../sass/partials/designernews.scss */
.dn_link_container:hover {
  background-color: #eee;
}
/* line 70, ../../sass/partials/designernews.scss */
.dn_link_container:hover .dn_story_url {
  color: #000;
}
/* line 74, ../../sass/partials/designernews.scss */
.dn_link_container:hover .dn_upvote_container {
  background-color: #eee;
}
