/* line 3, ../../sass/partials/facebook.scss */
#facebook::shadow #headerBg {
  background-image: url('/img/../img/FB_header.png?1415970894');
  background-size: auto 60%;
  background-position: 100%;
  background-color: #3b5998;
}

/* line 10, ../../sass/partials/facebook.scss */
#facebook::shadow #condensedHeaderBg {
  background-image: none;
  background-color: #3b5998;
}

/* line 17, ../../sass/partials/facebook.scss */
.notifications h2,
.notifications a {
  padding: 0 16px;
}
/* line 21, ../../sass/partials/facebook.scss */
.notifications a:hover {
  background-color: #eeeeee;
}
