/* line 3, ../../sass/partials/general.scss */
body {
  margin: 0;
  padding: 0;
  overflow-x: auto;
  overflow-y: hidden;
}

/* line 10, ../../sass/partials/general.scss */
.settings_button {
  position: fixed;
  right: 0;
  bottom: 0;
  color: black;
  z-index: 1;
}
/* line 17, ../../sass/partials/general.scss */
.settings_button::shadow #icon {
  height: 30px;
  width: 30px;
}

/* line 23, ../../sass/partials/general.scss */
.refresh_loading_icon {
  height: 24px;
  width: 24px;
  padding: 8px;
}
/* line 28, ../../sass/partials/general.scss */
.refresh_loading_icon::shadow .circle {
  border-color: white;
  border-width: 2px;
}

/* line 34, ../../sass/partials/general.scss */
.cleardiv {
  clear: both;
}

/* line 38, ../../sass/partials/general.scss */
.float_right {
  float: right;
}

/* line 42, ../../sass/partials/general.scss */
.float_left {
  float: left;
}

/* line 46, ../../sass/partials/general.scss */
.panel {
  background-color: #fafafa;
  display: none;
  float: left;
  width: 400px;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* line 58, ../../sass/partials/general.scss */
.content {
  position: relative;
}

/* line 62, ../../sass/partials/general.scss */
.error {
  white-space: normal;
  background-color: #eee;
  color: black;
  padding: 15px 16px 10px;
  display: none;
}
/* line 69, ../../sass/partials/general.scss */
.error paper-button {
  font-weight: 500;
  float: right;
}

/* line 75, ../../sass/partials/general.scss */
core-toolbar {
  background-color: transparent;
  color: white;
}

/* line 81, ../../sass/partials/general.scss */
.middle a {
  color: white;
  text-decoration: none;
}

/* line 91, ../../sass/partials/general.scss */
core-item {
  padding: 0 16px;
}
