/* line 3, ../../sass/partials/gmail.scss */
#gmail::shadow #headerBg {
  background-image: url('/img/../img/GM_header.svg?1417534157');
  background-size: auto 60%;
  background-position: 118%;
  background-color: #e04a3f;
}

/* line 10, ../../sass/partials/gmail.scss */
#gmail::shadow #condensedHeaderBg {
  background-image: none;
  background-color: #e04a3f;
}

/* line 17, ../../sass/partials/gmail.scss */
.mail_unread h2,
.mail_read h2 {
  padding: 0 16px;
}
/* line 21, ../../sass/partials/gmail.scss */
.mail_unread .gm_message,
.mail_read .gm_message {
  height: 72px;
}
/* line 24, ../../sass/partials/gmail.scss */
.mail_unread .gm_message:hover,
.mail_read .gm_message:hover {
  background-color: #eee;
}
/* line 29, ../../sass/partials/gmail.scss */
.mail_unread .gm_message_subject,
.mail_read .gm_message_subject {
  line-height: initial;
  color: #000;
  padding: 17px 16px 0;
}
/* line 35, ../../sass/partials/gmail.scss */
.mail_unread .gm_message_from,
.mail_read .gm_message_from {
  line-height: initial;
  padding: 0 16px 17px;
  color: #808080;
}
