/* line 4, ../../sass/partials/sabnzbd.scss */
#sabnzbd::shadow #headerBg {
  background-image: url('/img/../img/SAB_header.png?1415198382');
  background-size: auto 60%;
  background-position: 110%;
  background-color: #ffeb3b;
}

/* line 11, ../../sass/partials/sabnzbd.scss */
#sabnzbd::shadow #condensedHeaderBg {
  background-image: none;
  background-color: #ffeb3b;
}

/* line 18, ../../sass/partials/sabnzbd.scss */
.queue h2,
.history h2 {
  padding: 0 16px;
}
/* line 22, ../../sass/partials/sabnzbd.scss */
.queue core-item::shadow #label,
.history core-item::shadow #label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
