/* line 3, ../../sass/partials/sickbeard.scss */
#sickbeard::shadow #headerBg {
  background-image: url('/img/../img/SB_header.png?1415792707');
  background-size: auto 60%;
  background-position: 110%;
  background-color: #c7db40;
}

/* line 10, ../../sass/partials/sickbeard.scss */
#sickbeard::shadow #condensedHeaderBg {
  background-image: none;
  background-color: #c7db40;
}

/* line 19, ../../sass/partials/sickbeard.scss */
.sb_missed h2,
.sb_today h2,
.sb_soon h2,
.sb_later h2 {
  padding: 0 16px;
}

/* line 24, ../../sass/partials/sickbeard.scss */
.sb_search_episode {
  position: absolute;
  right: 0;
  top: 0;
}

/* line 30, ../../sass/partials/sickbeard.scss */
.sb_search_spinner {
  position: absolute;
  right: 0;
  top: 0;
  padding: 8px;
  pointer-events: none;
  height: 24px;
  width: 24px;
}
