/* line 4, ../../sass/partials/sickbeard.scss */
#sickbeard::shadow #headerBg {
  background-image: url('/img/../img/SB_header.png?1415792707');
  background-size: auto 60%;
  background-position: 110%;
  background-color: #C7DB40;
}

/* line 11, ../../sass/partials/sickbeard.scss */
#sickbeard::shadow #condensedHeaderBg {
  background-image: none;
  background-color: #C7DB40;
}

/* line 20, ../../sass/partials/sickbeard.scss */
.sb_missed h2,
.sb_today h2,
.sb_soon h2,
.sb_later h2 {
  height: 48px;
  line-height: 48px;
  padding: 0 16px;
}

/* line 27, ../../sass/partials/sickbeard.scss */
.sb_item {
  cursor: pointer;
  padding-left: 72px;
  height: 56px;
}
/* line 32, ../../sass/partials/sickbeard.scss */
.sb_item::shadow #label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 272px;
}
/* line 37, ../../sass/partials/sickbeard.scss */
.sb_item:hover {
  background-color: #eee !important;
}
/* line 40, ../../sass/partials/sickbeard.scss */
.sb_item:hover .sb_collapse_icon_container {
  background-color: #eee !important;
}
/* line 45, ../../sass/partials/sickbeard.scss */
.sb_item .sb_poster_container {
  position: absolute;
  left: 16px;
  top: 9px;
  height: 38px;
  width: 38px;
  border-radius: 100%;
  overflow: hidden;
}
/* line 54, ../../sass/partials/sickbeard.scss */
.sb_item .sb_poster_container .sb_poster {
  width: 100%;
}

/* line 60, ../../sass/partials/sickbeard.scss */
.sb_collapse_buttons {
  position: absolute;
  right: 8px;
  height: 40px;
  width: 80px;
  top: 0;
}
/* line 67, ../../sass/partials/sickbeard.scss */
.sb_collapse_buttons a {
  color: #000;
}

/* line 72, ../../sass/partials/sickbeard.scss */
.sb_search_episode {
  position: relative;
  left: 0;
  top: 0;
}

/* line 78, ../../sass/partials/sickbeard.scss */
.sb_search_spinner {
  position: absolute;
  left: 0;
  top: 0;
  padding: 8px;
  pointer-events: none;
  height: 24px;
  width: 24px;
}

/* line 88, ../../sass/partials/sickbeard.scss */
.sb_tvdb_link {
  position: absolute;
  right: 0;
  top: 0;
}

/* line 94, ../../sass/partials/sickbeard.scss */
.sb_collapse_icon_container {
  background-color: #FAFAFA;
  position: absolute;
  right: 0;
  padding: 16px;
}
/* line 100, ../../sass/partials/sickbeard.scss */
.sb_collapse_icon_container .sb_collapse_icon {
  color: #9e9e9e;
}
