@import '~css/modules/colors';
@import '~css/modules/mixins';

.flat-button,
.raised-button {
  @include ripple($black);
  background-color: $white;
  border: 0;
  color: $black;
  font-size: 14px;
  font-weight: medium;
  height: 36px;
  line-height: 36px;
  margin: 6px 4px;
  min-width: 72px;
  outline: none;
  padding: 0 8px;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    background-color: $hover-color;
    text-decoration: none;
  }
}

.raised-button {
  @include paper-shadow();
  transition: box-shadow 200ms;

  &:active {
    @include paper-shadow(2);
  }
}

.flat-button {
  float: right;
}

.icon-button:hover {
  background-color: $hover-color;
  cursor: pointer;
  transition: background-color 150ms;
}
