@import '~css/modules/colors';
@import '~css/modules/mixins';

.panel-item-content {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;

  &--image {
    background-position: 50%;
    background-size: cover;
    border-radius: 50%;
    height: 40px;
    margin-right: 16px;
    width: 40px;
  }

  &--titles {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    min-width: 0;
    width: 100%;
  }

  &--title {
    @include text-truncate;
    flex: 1 0 10%;
    font-size: 13px;
    min-width: 70%;
  }

  &--extra-title {
    font-size: 11px;
    padding-left: 8px;
  }

  &--subtitle-url {
    color: $color-text-secondary;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &--subtitle {
    @include text-truncate;
    color: $color-text-secondary;
    flex-basis: 100%;
  }

  &--icon {
    background-image: url('~img/icons/expand_more.svg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin-left: 8px;
    right: 0;
    transition: background-image 300ms ease;
    width: 12px;
  }
}
