@import '~css/modules/colors';

h2 {
  color: $color-text-secondary;
  font-family: 'Roboto', 'Helvetica';
  font-size: 13px;
  font-weight: 500;
  line-height: 48px;
  margin: 0;
  padding: 0 16px;
}
