@import '~css/modules/colors';
@import '~css/modules/mixins';

h2 {
  color: $header-grey;
  font-family: 'Roboto', 'Helvetica';
  font-size: 14px;
  font-weight: 600;
  height: 40px;
  line-height: 40px;
  margin: 0;
  padding: 0 18px;
}
