.panel-calendar-background {
  .panel-header-background1 {
    background-color: $calendar-color;
  }

  .panel-header-background2 {
    background-color: $calendar-color;
    background-image: image-url('GC_header.svg');
    background-position: 110%;
    background-size: auto 76.8px;
  }
}

.events {
  .core-item-content {
    width: 328px;
  }

  .gc-event-location {
    @include text-truncate;
    float: left;
    line-height: 48px;
    max-width: 344px;
    padding-left: 16px;
  }

  .gc-event-link-icon {
    @include ripple($black);
    background-position: 50%;
    background-repeat: no-repeat;
    border-radius: 100%;
    float: right;
    height: 48px;
    margin: 0 4px;
    padding: 12px;
    width: 48px;
  }
}