.panel-designernews-background {
  .panel-header-background1 {
    background-color: $designernews-color;
  }

  .panel-header-background2 {
    background-color: $designernews-color;
    background-image: image-url('DN_header.png');
    background-position: 110%;
    background-size: auto 76.8px;
  }
}

.dn-link-container {
  height: 72px;
  line-height: initial;

  .dn-story-url {
    @include text-truncate;
    color: $black;
    display: block;
    height: 100%;
    left: 72px;
    padding: 17px 0 0;
    text-decoration: none;

    &:hover {
      color: $black;
    }

    &:visited {
      color: $grey;
    }
  }

  .dn-comments-url {
    @include text-truncate;
    bottom: 17px;
    color: $grey;
    left: initial;
    position: absolute;
    right: initial;
    text-decoration: none;
    top: initial;

    &:hover {
      text-decoration: underline;
    }
  }

  .dn-upvote {
    @include ripple($black);
    background-image: image-url('icons/thumb_up.svg');
    background-position: 50%;
    background-repeat: no-repeat;
    border-radius: 100%;
    height: 56px;
    margin: 8px 0;
    padding: 16px;
    position: absolute !important;
    right: 0;
    top: 0;
    width: 56px;

    &:hover {
      background-image: image-url('icons/thumb_up_voted.svg');
    }

    &.voted {
      background-image: image-url('icons/thumb_up_voted.svg');
    }
  }

  &.dn-link-with-badge {
    padding-left: 72px;
    position: relative;

    .dn-badge {
      display: block;
      height: 38px;
      left: 16px;
      position: absolute;
      top: 17px;
      width: 38px;
    }

    .dn-story-url {
      width: 273px;
    }
  }

  &:hover {
    background-color: $hover-color;

    .dn-story-url {
      color: $black;
    }
  }
}
