.panel-designernews-background {
  .panel-header-background1 {
    background-color: $designernews-color;
  }

  .panel-header-background2 {
    background-color: $designernews-color;
    background-image: image-url('DN_header.png');
    background-position: right -30px center;
    background-size: auto 76.8px;
  }
}

.dn-link-container {
  height: 72px;
  line-height: initial;

  .dn-story-url {
    @include text-truncate;
    color: $black;
    display: block;
    height: 100%;
    left: 72px;
    padding: 17px 0 0;
    text-decoration: none;

    &:hover {
      color: $black;
    }

    &:visited {
      color: $grey;
    }
  }

  .dn-comments-url {
    @include text-truncate;
    bottom: 17px;
    color: $grey;
    left: initial;
    position: absolute;
    right: initial;
    text-decoration: none;
    top: initial;
    max-width: calc(100% - 32px);

    &:hover {
      text-decoration: underline;
    }
  }

  &.dn-link-with-badge {
    padding-left: 72px;
    position: relative;

    .dn-badge {
      display: block;
      height: 38px;
      left: 16px;
      position: absolute;
      top: 17px;
      width: 38px;
    }

    .dn-story-url {
      width: 100%;
    }

    .dn-comments-url {
      max-width: calc(100% - 88px);
    }
  }

  &:hover {
    background-color: $hover-color;

    .dn-story-url {
      color: $black;
    }
  }
}
