.panel-dribbble-background {
  .panel-header-background1 {
    background-color: $dribbble-color;
  }

  .panel-header-background2 {
    background-color: $dribbble-color;
    background-image: image-url('DR_header.png');
    background-position: 110%;
    background-size: auto 76.8px;
  }
}

.dr-links {
  padding: 4px;
}

.dr-link-container {
  line-height: initial;
  padding: 0;
  border-top: none;
  margin-bottom: 4px;

  .dr-story-url {
    @include text-truncate;
    color: $black;
    display: block;
    height: 100%;
    left: 72px;
    text-decoration: none;
  }

  .dr-story-gif {
    background-color: $white;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    right: 16px;
    top: 16px;
    opacity: .75;
  }

  .dr-image {
    float: left;
    width: 100%;
  }

  .dr-info-container {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
    height: 68px;
    padding: 16px;
    color: $white;
  }
}
