.panel-dribbble-background {
  .panel-header-background1 {
    background-color: $dribbble-color;
  }

  .panel-header-background2 {
    background-color: $dribbble-color;
    background-image: image-url('DR_header.png');
    background-position: right -30px center;
    background-size: auto 76.8px;
  }
}

.dr-links {
  padding: 4px;
}

.small-images {
  padding: 2px;

  .dr-link-container {
    width: calc(100% - 50% - 4px);
    float: left;
    margin: 2px;

    .dr-info-container {
      height: 54px;
      padding: 8px 16px;
    }
  }
}

.dr-link-container {
  @include ripple($white);
  line-height: initial;
  padding: 0;
  border-top: none;
  -webkit-transition: -webkit-filter 200ms linear;

  &:not(:last-of-type) {
    margin-bottom: 2px;
  }

  &:hover {
    -webkit-filter: brightness(1.15);
  }

  .dr-story-url {
    @include text-truncate;
    color: $black;
    display: block;
    height: 100%;
    left: 72px;
    text-decoration: none;
  }

  .dr-story-gif {
    background-color: $white;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 10px;
    opacity: .75;
  }

  .dr-image {
    float: left;
    width: 100%;
  }

  .dr-info-container {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
    height: 68px;
    padding: 16px;
    color: $white;

    .dr-title {
      @include text-truncate;
    }
  }
}
