.panel_facebook_background {
  .panel_header_background1 {
    background-color: $facebook-color;
  }

  .panel_header_background2 {
    background-image: image-url('FB_header.png');
    background-size: auto 76.8px;
    background-position: 100%;
    background-color: $facebook-color;
  }
}

.notifications {
  a {
    text-decoration: none;
    line-height: 48px;
    display: block;
    color: $black;

    .notificationTitle {
      @include text-truncate;
      float: left;
      width: 244px;
    }

    .notificationTime {
      float: right;
    }

    &:visited {
      color: $grey;
    }

    &:hover {
      color: $black;
    }
  }
}
