.panel-facebook-background {
  .panel-header-background1 {
    background-color: $facebook-color;
  }

  .panel-header-background2 {
    background-image: image-url('FB_header.png');
    background-size: auto 76.8px;
    background-position: right 0 center;
    background-color: $facebook-color;
  }
}

.notifications {
  a {
    text-decoration: none;
    line-height: 48px;
    display: block;
    color: $black;

    .notification-title {
      @include text-truncate;
      float: left;
      width: calc(100% - 124px);
    }

    .notification-time {
      float: right;
    }

    &:visited {
      color: $grey;
    }

    &:hover {
      color: $black;
    }
  }
}
