* {
  box-sizing: border-box;
}

html,
html a {
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0 , .004);
}

a {
  outline: none;
}

body {
  margin: 0;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 0;
  width: 0;
}

.loading-bar {
  @include spinner($black);
  line-height: initial;
  text-align: center;

  #spinner-container {
    margin-top: 12px;
  }
}

.settings-button {
  @include paper-shadow(1);
  @include ripple($black);
  background-color: $clr-grey-300;
  background-position: 50%;
  background-repeat: no-repeat;
  border-radius: 100%;
  bottom: 0;
  height: 56px;
  margin: 16px;
  padding: 16px;
  position: fixed !important;
  right: 0;
  width: 56px;
  z-index: 1;
}

.refresh-loading-icon {
  height: 24px;
  padding: 8px;
  width: 24px;

  &::shadow .circle {
    border-color: $white;
    border-width: 2px;
  }
}

.cleardiv {
  clear: both;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.error {
  @include paper-shadow(1);
  background-color: #eee;
  color: $text-color;
  display: none;
  padding: 15px 16px 10px;
  white-space: normal;

  .paper-button {
    font-weight: 500;
    float: right;
  }
}

.paper-flat-button {
  @include ripple($black);
  border-radius: 3px;
  display: block;
  float: right;
  font-weight: 500;
  height: 40px;
  line-height: 40px;
  margin: 0 4px;
  min-width: 5.14em;
  padding: 0 7px;
  text-align: center;
  text-transform: uppercase;
  color: $text-color;
}

.refresh-button {
  @include ripple();
  @include spinner();
  border-radius: 100%;
  display: inline-block;
  height: 40px;
  margin: 12px 8px;
  padding: 8px;
  width: 40px;
}
