.panel-github-background {
  .panel-header-background1 {
    background-color: $github-color;
  }

  .panel-header-background2 {
    background-color: $github-color;
    background-image: image-url('GH_header.png');
    background-position: right -35px center;
    background-size: auto 76.8px;
  }
}

.gh-links {
  .core-item {
    height: 72px;
  }

  a {
    @include text-truncate;
    color: $black;
    display: block;
    text-decoration: none;

    &:visited {
      color: $grey;
    }

    &:hover {
      color: $black;
    }
  }

  .gh-title {
    @include text-truncate;
    line-height: initial;
    padding: 17px 0 0;
  }

  .gh-description {
    @include text-truncate;
    color: #808080;
    line-height: initial;
    padding: 0 0 17px;
  }
}
