.panel-gmail-background {
  .panel-header-background1 {
    background-color: $gmail-color;
  }

  .panel-header-background2 {
    background-color: $gmail-color;
    background-image: image-url('GM_header.svg');
    background-position: 118%;
    background-size: auto 76.8px;
  }
}

.mail-unread,
.mail-read {
  .gm-message {
    height: 72px;
    line-height: initial;
    overflow: hidden;

    &:hover {
      background-color: $hover-color;
    }
  }

  a {
    color: $black;
    text-decoration: none;
  }

  .gm-message-subject {
    @include text-truncate;
    line-height: initial;
    padding: 17px 0 0;
    width: 244px;
  }

  .gm-message-date {
    line-height: initial;
    position: absolute;
    right: 16px;
    top: 16px;
  }

  .gm-message-from {
    @include text-truncate;
    color: $grey;
    line-height: initial;
    padding: 0 0 17px;
  }
}
