.panel-hackernews-background {
  .panel-header-background1 {
    background-color: $hackernews-color;
  }

  .panel-header-background2 {
    background-color: $hackernews-color;
    background-image: image-url('HN_header.png');
    background-position: 105%;
    background-size: auto 76.8px;
  }
}

.hn-link-container {
  height: 72px;
  line-height: initial;

  .hn-story-url {
    @include text-truncate;
    color: $black;
    display: block;
    height: 100%;
    padding: 17px 0 0;
    text-decoration: none;

    &:hover {
      color: $black;
    }

    &:visited {
      color: $grey;
    }
  }

  .hn-comments-url {
    @include text-truncate;
    bottom: 17px;
    color: $grey;
    left: initial;
    position: absolute;
    right: initial;
    text-decoration: none;
    top: initial;
    max-width: calc(100% - 32px);

    &:hover {
      text-decoration: underline;
    }
  }

  &:hover {
    background-color: $hover-color;

    .hn-story-url {
      color: $black;
    }
  }
}
