.panel-hackernews-background {
  .panel-header-background1 {
    background-color: $hackernews-color;
  }

  .panel-header-background2 {
    background-color: $hackernews-color;
    background-image: image-url('HN_header.png');
    background-position: 105%;
    background-size: auto 76.8px;
  }
}

.hn-link-container {
  height: 72px;
  line-height: initial;

  .hn-story-url {
    @include text-truncate;
    color: $black;
    display: block;
    height: 100%;
    padding: 17px 0 0;
    text-decoration: none;

    &:hover {
      color: $black;
    }

    &:visited {
      color: $grey;
    }
  }

  .hn-comments-url {
    @include text-truncate;
    bottom: 17px;
    color: $grey;
    left: initial;
    position: absolute;
    right: initial;
    text-decoration: none;
    top: initial;

    &:hover {
      text-decoration: underline;
    }
  }

  .hn-upvote {
    @include ripple($black);
    background-position: 50%;
    background-repeat: no-repeat;
    border-radius: 100%;
    height: 56px;
    margin: 8px 0;
    padding: 16px;
    position: absolute !important;
    right: 0;
    top: 0;
    width: 56px;

    &:hover {
      background-image: image-url('icons/thumb_up_voted.svg');
    }
  }

  &:hover {
    background-color: $hover-color;

    .hn-story-url {
      color: $black;
    }
  }
}
