.options-body {
  overflow: hidden;
  width: auto;
}

.options-window-title {
  @include paper-shadow();
  background-color: $calendar-color;
  color: $white;
  font-size: 18px;
  font-weight: 500;
  height: 64px;
  line-height: 64px;
  padding-left: 272px;
  transition: padding 400ms, background .3s;
  width: 100vw;

  .options-menu-icon {
    cursor: pointer;
    display: none;
    margin-right: 8px;
    vertical-align: middle;
  }

  .options-window-title-text {
    display: inline;
  }
}

.options-menu {
  @include paper-shadow();
  float: left;
  height: calc(100vh - 64px);
  overflow: scroll;
  padding: 8px 0 48px;
  position: relative;
  transition: width 400ms;
  width: 256px;
  z-index: 100;

  &.expanded {
    width: 256px;
  }
}

.options-menu-link {
  @include ripple($black);
  cursor: pointer;
  height: 48px;
  line-height: 48px;
  padding: 0 16px 0 8px;
  position: relative;
  transition: background-color 150ms;
  width: 256px;

  &:hover,
  &.active {
    background-color: #ebebeb;
  }

  &.support {
    background-color: $white;
    border-top: solid 1px #ececec;
    bottom: 0;
    position: fixed;
    width: 256px;
    z-index: 10;
  }

  // Left side handle
  .drag-handle {
    background-image: image-url('icons/reorder.svg');
    background-position: 50%;
    background-repeat: no-repeat;
    cursor: ns-resize;
    float: left;
    height: 100%;
    margin-right: 8px;
    width: 20px;
  }

  .service-toggle {
    float: right;
  }
}

.options-content {
  height: calc(100vh - 64px);
  padding-left: 272px;
  transition: padding 400ms;
  width: 100vw;

  #loading {
    @include spinner($black);
    margin: 15px;
  }
}

.options-window {
  height: 100%;
  overflow: scroll;
  padding: 8px 0;
  position: relative;

  &:not(.Calendar) {
    display: none;
  }
}

.DN-login-status {
  @include spinner($black);
}

.toast-message {
  background-color: #323232;
  border-radius: 2px;
  bottom: -48px;
  color: $white;
  height: 48px;
  left: 272px;
  line-height: 48px;
  max-width: 568px;
  min-width: 288px;
  padding: 0 24px;
  position: absolute;
  transition: bottom 200ms;
  z-index: 100;
}

.options-mail-button {
  display: inline-block !important;
}

.paypal-button img {
  height: 70%;
  margin-right: 5px;
  vertical-align: middle;
}

@media screen and (max-width: 580px) {
  .options-menu {
    background-color: $white;
    left: 0;
    position: absolute;
    top: 64px;
    width: 0;
  }

  .options-window-title {
    padding-left: 8px;

    .options-menu-icon {
      display: inline;
    }
  }

  .options-content {
    padding: 8px 0 0 8px;
  }

  .button-bar {
    width: 100%;
  }
}
