.panel_producthunt_background {
  .panel_header_background1 {
    background-color: $producthunt-color;
  }

  .panel_header_background2 {
    background-image: image-url('PH_header.svg');
    background-size: auto 150px;
    background-position: 125%;
    background-color: $producthunt-color;
  }
}

.ph_link_container {
  height: 72px;
  line-height: initial;

  .ph_story_url {
    display: block;
    @include text-truncate;
    left: 72px;
    padding: 17px 0 0;
    height: auto;
    text-decoration: none;
    color: $black;
    width: 328px;
    height: 100%;

    &:hover {
      color: $black;
    }

    &:visited {
      color: $grey;
    }
  }

  .ph_comments_url {
    position: absolute;
    @include text-truncate;
    text-decoration: none;
    color: $grey;
    top: initial;
    left: initial;
    right: initial;
    bottom: 17px;

    &:hover {
      text-decoration: underline;
    }
  }

  &:hover {
    background-color: $hover-color;

    .ph_story_url {
      color: $black;
    }
  }
}
