.panel_sickbeard_background {
  .panel_header_background1 {
    background-color: $sickbeard-color;
  }

  .panel_header_background2 {
    background-image: image-url('SB_header.png');
    background-size: auto 76.8px;
    background-position: 110%;
    background-color: $sickbeard-color;
  }
}

.sb_item {
  padding-left: 72px;
  height: 56px;
  line-height: 56px;

  .sb_poster_container {
    position: absolute;
    left: 16px;
    top: 9px;
    height: 38px;
    width: 38px;
    border-radius: 100%;
    overflow: hidden;

    .sb_poster {
      width: 100%;
    }
  }

  .core_item_content {
    width: 272px;
  }

  .core_item_icon {
    height: 56px;
    padding: 16px;
  }
}

.sb_collapse {
  position: relative;
  line-height: 48px;
  padding-left: 16px;

  .sb_collapse_buttons {
    position: absolute;
    right: 0;
    height: 48px;
    top: 0;
  }

  .sb_search_episode {
    @include spinner($black);
    margin: 0 4px 0 0;
  }

  .sb_tvdb_link_icon,
  .sb_mark_episode,
  .sb_search_episode {
    @include ripple($black);
    border-radius: 100%;
    float: right;
    height: 48px;
    width: 48px;
    line-height: initial;
    padding: 12px;
    background-repeat: no-repeat;
    background-position: 50%;
  }
}
