.panel-sickbeard-background {
  .panel-header-background1 {
    background-color: $sickbeard-color;
  }

  .panel-header-background2 {
    background-color: $sickbeard-color;
    background-image: image-url('SB_header.png');
    background-position: 110%;
    background-size: auto 76.8px;
  }
}

.sb-item {
  height: 56px;
  line-height: 56px;
  padding-left: 72px;

  .sb-poster-container {
    border-radius: 100%;
    height: 38px;
    left: 16px;
    overflow: hidden;
    position: absolute;
    top: 9px;
    width: 38px;

    .sb-poster {
      width: 100%;
    }
  }

  .core-item-content {
    width: calc(100% - 40px);
  }

  .core-item-icon {
    height: 56px;
    padding: 16px;
  }
}

.sb-collapse {
  line-height: 48px;
  padding-left: 16px;
  position: relative;

  .sb-collapse-date {
    @include text-truncate;
    max-width: calc(100% - 148px);
  }

  .sb-collapse-buttons {
    height: 48px;
    position: absolute;
    right: 0;
    top: 0;
  }

  .sb-search-episode {
    @include spinner($black);
    margin: 0 4px 0 0;
  }

  .sb-tvdb-link-icon,
  .sb-mark-episode,
  .sb-search-episode {
    @include ripple($black);
    background-position: 50%;
    background-repeat: no-repeat;
    border-radius: 100%;
    float: right;
    height: 48px;
    line-height: initial;
    padding: 12px;
    width: 48px;
  }
}
