.panel_couchpotato_background {
  .panel_header_background1 {
    background-color: $couchpotato-color;
  }

  .panel_header_background2 {
    background-image: image-url('CP_header.png');
    background-size: auto 76.8px;
    background-position: 115%;
    background-color: $couchpotato-color;
  }
}

.wanted,
.snatched {
  .cp_item {
    padding-left: 72px;
    height: 56px;
    line-height: 56px;

    .cp_poster_container {
      position: absolute;
      left: 16px;
      top: 9px;
      height: 38px;
      width: 38px;
      border-radius: 100%;
      overflow: hidden;

      .cp_poster {
        width: 100%;
      }
    }

    .core_item_content {
      width: 272px;
    }

    .core_item_icon {
      height: 56px;
      padding: 16px;
    }
  }

  .cp_collapse {
    position: relative;
    line-height: 48px;
    padding-left: 16px;

    .cp_collapse_buttons {
      position: absolute;
      right: 0;
      height: 48px;
      width: 104px;
      top: 0;
    }

    .cp_search_movie {
      margin: 0 4px;
    }

    .cp_search_movie,
    .cp_imdb_link_icon {
      @include ripple(#000);
      border-radius: 100%;
      float: right;
      height: 48px;
      width: 48px;
      padding: 12px;
      background-repeat: no-repeat;
      background-position: 50%;
    }
  }
}
