@import '~css/modules/colors';
@import '~css/modules/mixins';

.panel-error {
  @include paper-shadow(1);
  background-color: #eee;
  color: $color-text-primary;
  max-height: 130px;
  overflow: hidden;
  transition: max-height 3000ms ease;
  white-space: normal;

  &-content {
    font-size: 14px;
    margin: 15px 16px 10px;
  }

  &-buttons {
    margin: 0 16px 10px;
  }

  &-settings-button,
  &-retry-button {
    background-color: #eee;
    border-radius: 3px;
    color: $color-text-primary;
    display: block;
    float: right;
    font-weight: 500;
    height: 40px;
    line-height: 40px;
    margin: 0 4px;
    min-width: 5.14em;
    padding: 0 7px;
    text-align: center;
    text-transform: uppercase;
  }
}
