@import '~css/modules/colors';
@import '~css/modules/mixins';

.page-header {
  @include paper-shadow();
  background-color: $calendar-color;
  color: $color-white;
  font-size: 18px;
  font-weight: 500;
  height: 64px;
  line-height: 64px;
  transition: padding 400ms, background .3s;
  width: 100vw;

  &--menu-icon,
  &--back-icon {
    cursor: pointer;
    vertical-align: middle;
    padding-left: 15px;
    float: left;
    margin: 22px 10px;
    display: inline;
  }
  &--menu-icon {
    display: none;
  }

  &--title {
    padding-left: 212px;
    display: inline;
    float: left;
  }
}

@media screen and (max-width: 580px) {
  .page-header {
    &--title {
      padding-left: 8px;
    }
    &--menu-icon {
      display: inline;
      float: right;
    }
  }
}
