@import '~css/modules/colors';
@import '~css/modules/mixins';

.loader-enter-active,
.loader-leave-active {
  transition: opacity 300ms ease;
}

.loader-enter,
.loader-leave-active {
  opacity: 0;
}

.panel {
  display: inline-block;
  position: relative;
  vertical-align: top;
  white-space: normal;

  &--content {
    height: 100vh;
    overflow-y: scroll;
    padding-top: 128px;
  }
}
