@import '~css/modules/colors';
@import '~css/modules/mixins';

@include vue-transition($scope: '& ', $name: 'loader', $transition-field: opacity)

.panel {
  display: inline-block;
  position: relative;
  vertical-align: top;
  white-space: normal;

  &--content {
    height: 100vh;
    overflow-y: scroll;
    padding-top: 128px;
  }
}
