@import '~css/modules/colors';
@import '~css/modules/mixins';

.refresh-button {
  border-radius: 100%;
  height: 45px;
  margin: 12px 2px;
  padding: 8px;
  width: 45px;
}

.panel-header {
  @include vue-transition(
    $scope: '& ',
    $name: 'panel-header--loader',
    $transition-field: opacity
  );
  @include paper-shadow(1);
  height: 128px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;

  .panel-header--background {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;

    &1,
    &2 {
      background-repeat: no-repeat;
      height: 100%;
      position: absolute;
      width: 100%;
    }

    &2 {
      background-position: right -20px center;
      background-size: auto 60px;
    }
  }

  .panel-header--foreground {
    color: $color-white;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  .panel-header--foreground-top,
  .panel-header--foreground-bottom {
    float: left;
    height: 64px;
    width: 100%;
  }

  .panel-header--foreground-bottom {
    padding: 0 16px;
  }

  .panel-header--url {
    color: $color-white;
    font-size: 18px;
    font-weight: 500;
    line-height: 64px;
    text-decoration: none;
  }
}
