@import '~css/modules/colors';
@import '~css/modules/mixins';

.service-actions {
  @include paper-shadow(1);
  background-color: $color-white;
  bottom: 0;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  position: absolute;
  width: 100%;

  &--button {
    background-color: $color-white;
    margin-right: 16px;
    pointer-events: auto;
  }
}
