@import '~css/modules/colors';
@import '~css/modules/mixins';
@import '~css/modules/ripple';

.panel-container {
  white-space: nowrap;
}

.bottom-bar {
  bottom: 0;
  height: 50px;
  pointer-events: none;
  position: absolute;
}

* {
  box-sizing: border-box;
}

html,
html a {
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0 , .004);
}

body {
  font-family: 'Roboto', 'Helvetica Neue', 'Lucida Grande', sans-serif;
  margin: 0;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 0;
  width: 0;
}

.cleardiv {
  clear: both;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}
