/* line 3, ../sass/modules/text.scss */
body {
  font-family: 'Roboto';
  font-weight: 200;
  font-size: 14px;
}

/* line 9, ../sass/modules/text.scss */
h2 {
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  font-family: 'Roboto';
  font-weight: 500;
  color: #727272;
  margin: 0;
}

/* line 19, ../sass/modules/text.scss */
p {
  margin: 3px;
}

/* line 3, ../sass/partials/general.scss */
body {
  margin: 0;
  padding: 0;
  overflow-x: auto;
  overflow-y: hidden;
}

/* line 10, ../sass/partials/general.scss */
.cleardiv {
  clear: both;
}

/* line 14, ../sass/partials/general.scss */
.panel {
  display: none;
  float: left;
  width: 400px;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* line 25, ../sass/partials/general.scss */
.content {
  position: relative;
}

/* line 29, ../sass/partials/general.scss */
core-toolbar {
  background-color: transparent;
  color: white;
}

/* line 35, ../sass/partials/general.scss */
.middle a {
  color: white;
  text-decoration: none;
}

/* line 50, ../sass/partials/general.scss */
.queue,
.history,
.sb_missed,
.sb_today,
.sb_soon,
.sb_later {
  padding: 0 16px;
}

/* line 3, ../sass/partials/couchpotato.scss */
#couchpotato::shadow #headerBg {
  background-image: url('/img/../img/CP_header.png?1415198327');
  background-size: auto 60%;
  background-position: 115%;
  background-color: #4e5969;
}

/* line 10, ../sass/partials/couchpotato.scss */
#couchpotato::shadow #condensedHeaderBg {
  background-image: none;
  background-color: #4e5969;
}

/* line 15, ../sass/partials/couchpotato.scss */
#couchpotato .content {
  padding-bottom: 56px;
}

/* line 19, ../sass/partials/couchpotato.scss */
.cp_button_container {
  position: absolute;
  right: 0;
  width: 100%;
  background-color: white;
}
/* line 25, ../sass/partials/couchpotato.scss */
.cp_button_container .cp_add_button {
  float: right;
  margin: 10px;
  position: relative;
}
/* line 30, ../sass/partials/couchpotato.scss */
.cp_button_container .cp_add_button:hover {
  background-color: #eeeeee;
}

/* line 36, ../sass/partials/couchpotato.scss */
#cp_form_container {
  overflow: scroll;
  width: 30%;
}
/* line 42, ../sass/partials/couchpotato.scss */
#cp_form_container .cp_form_close {
  position: absolute;
  top: 0;
  right: 0;
  color: gray;
  z-index: 10;
}
/* line 50, ../sass/partials/couchpotato.scss */
#cp_form_container .content {
  padding: 0 8px;
}
/* line 54, ../sass/partials/couchpotato.scss */
#cp_form_container .cp_form_search {
  height: 40px;
  border: 0;
  width: 95.5%;
  outline: none;
  padding: 0 0 0 5px;
  margin: 5px;
  font-size: 20px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.16);
}
/* line 65, ../sass/partials/couchpotato.scss */
#cp_form_container .cp_search_result {
  display: none;
  height: 150px;
  overflow-y: scroll;
  background-color: gray;
}
/* line 71, ../sass/partials/couchpotato.scss */
#cp_form_container .cp_search_result .cp_search_movie {
  height: 30px;
}
/* line 74, ../sass/partials/couchpotato.scss */
#cp_form_container .cp_search_result .cp_search_movie .cp_search_poster {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  width: 34px;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 88, ../sass/partials/couchpotato.scss */
.wanted h2,
.snatched h2 {
  padding: 0 16px;
}
/* line 92, ../sass/partials/couchpotato.scss */
.wanted a,
.snatched a {
  right: 0 !important;
  top: auto !important;
  left: auto !important;
  bottom: auto !important;
  line-height: 1;
  display: none;
}
/* line 101, ../sass/partials/couchpotato.scss */
.wanted core-item:hover > a,
.snatched core-item:hover > a {
  display: block;
}
/* line 105, ../sass/partials/couchpotato.scss */
.wanted core-item,
.snatched core-item {
  padding: 0 16px;
}
/* line 109, ../sass/partials/couchpotato.scss */
.wanted core-icon-button,
.snatched core-icon-button {
  background-color: white;
}

/* line 3, ../sass/partials/facebook.scss */
#facebook::shadow #headerBg {
  background-image: url('/img/../img/FB_header.png?1415970894');
  background-size: auto 60%;
  background-position: 100%;
  background-color: #3b5998;
}

/* line 10, ../sass/partials/facebook.scss */
#facebook::shadow #condensedHeaderBg {
  background-image: none;
  background-color: #3b5998;
}

/* line 17, ../sass/partials/facebook.scss */
.notifications h2,
.notifications a {
  padding: 0 16px;
}
/* line 21, ../sass/partials/facebook.scss */
.notifications a:hover {
  background-color: #eeeeee;
}

/* line 3, ../sass/partials/sickbeard.scss */
#sickbeard::shadow #headerBg {
  background-image: url('/img/../img/SB_header.png?1415792707');
  background-size: auto 60%;
  background-position: 110%;
  background-color: #c7db40;
}

/* line 10, ../sass/partials/sickbeard.scss */
#sickbeard::shadow #condensedHeaderBg {
  background-image: none;
  background-color: #c7db40;
}

/* line 3, ../sass/partials/sabnzbd.scss */
#sabnzbd::shadow #headerBg {
  background-image: url('/img/../img/SAB_header.png?1415198382');
  background-size: auto 60%;
  background-position: 110%;
  background-color: #ffeb3b;
}

/* line 10, ../sass/partials/sabnzbd.scss */
#sabnzbd::shadow #condensedHeaderBg {
  background-image: none;
  background-color: #ffeb3b;
}

/* line 3, ../sass/partials/calendar.scss */
#calendar::shadow #headerBg {
  background-image: url('/img/../img/GC_header.svg?1415201607');
  background-size: auto 60%;
  background-position: 110%;
  background-color: #4285f4;
}

/* line 10, ../sass/partials/calendar.scss */
#calendar::shadow #condensedHeaderBg {
  background-image: none;
  background-color: #4285f4;
}

/* line 17, ../sass/partials/calendar.scss */
.today h2,
.tomorrow h2 {
  padding: 0 16px;
}
/* line 21, ../sass/partials/calendar.scss */
.today a,
.tomorrow a {
  right: 0 !important;
  top: auto !important;
  left: auto !important;
  bottom: auto !important;
  line-height: 1;
  display: none;
}
/* line 30, ../sass/partials/calendar.scss */
.today core-item:hover > a,
.tomorrow core-item:hover > a {
  display: block;
}
/* line 34, ../sass/partials/calendar.scss */
.today core-item,
.tomorrow core-item {
  padding: 0 16px;
}

/* line 3, ../sass/partials/designernews.scss */
#designernews::shadow #headerBg {
  background-image: url('/img/../img/DN_header.png?1415210857');
  background-size: auto 60%;
  background-position: 110%;
  background-color: #1c52a2;
}

/* line 10, ../sass/partials/designernews.scss */
#designernews::shadow #condensedHeaderBg {
  background-image: none;
  background-color: #1c52a2;
}

/* line 16, ../sass/partials/designernews.scss */
.dn_links a {
  padding: 0 16px;
}
/* line 20, ../sass/partials/designernews.scss */
.dn_links a:hover {
  background-color: #eeeeee;
}

/* line 26, ../sass/partials/designernews.scss */
core-item a {
  line-height: 40px;
  text-decoration: none;
  color: black;
}
/* line 31, ../sass/partials/designernews.scss */
core-item a:hover {
  color: black;
}
/* line 35, ../sass/partials/designernews.scss */
core-item a:visited {
  color: gray;
}
