@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/Roboto-Thin-webfont.eot");
  src: url("../fonts/Roboto-Thin-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Thin-webfont.woff") format("woff"), url("../fonts/Roboto-Thin-webfont.ttf") format("truetype"), url("../fonts/Roboto-Thin-webfont.svg#robotothin") format("svg");
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Roboto-Light-webfont.eot");
  src: url("../fonts/Roboto-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Light-webfont.woff") format("woff"), url("../fonts/Roboto-Light-webfont.ttf") format("truetype"), url("../fonts/Roboto-Light-webfont.svg#robotolight") format("svg");
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Roboto-Regular-webfont.eot");
  src: url("../fonts/Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular-webfont.woff") format("woff"), url("../fonts/Roboto-Regular-webfont.ttf") format("truetype"), url("../fonts/Roboto-Regular-webfont.svg#robotoregular") format("svg");
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Roboto-Medium-webfont.eot");
  src: url("../fonts/Roboto-Medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Medium-webfont.woff") format("woff"), url("../fonts/Roboto-Medium-webfont.ttf") format("truetype"), url("../fonts/Roboto-Medium-webfont.svg#robotomedium") format("svg");
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Roboto-Bold-webfont.eot");
  src: url("../fonts/Roboto-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Bold-webfont.woff") format("woff"), url("../fonts/Roboto-Bold-webfont.ttf") format("truetype"), url("../fonts/Roboto-Bold-webfont.svg#robotobold") format("svg");
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/Roboto-Black-webfont.eot");
  src: url("../fonts/Roboto-Black-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Black-webfont.woff") format("woff"), url("../fonts/Roboto-Black-webfont.ttf") format("truetype"), url("../fonts/Roboto-Black-webfont.svg#robotoblack") format("svg");
}
/* line 71, ../sass/modules/text.scss */
body {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.87);
}

/* line 78, ../sass/modules/text.scss */
h2 {
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  font-family: 'Roboto';
  font-weight: 500;
  color: #727272;
  margin: 0;
}

/* line 88, ../sass/modules/text.scss */
p {
  margin: 3px 0;
}

/* line 3, ../sass/partials/general.scss */
body {
  margin: 0;
  padding: 0;
  overflow-x: auto;
  overflow-y: hidden;
}

/* line 10, ../sass/partials/general.scss */
.settings_button {
  position: fixed;
  right: 0;
  bottom: 0;
  color: #000;
  z-index: 1;
}
/* line 17, ../sass/partials/general.scss */
.settings_button::shadow #icon {
  height: 30px;
  width: 30px;
}

/* line 23, ../sass/partials/general.scss */
.refresh_loading_icon {
  height: 24px;
  width: 24px;
  padding: 8px;
}
/* line 28, ../sass/partials/general.scss */
.refresh_loading_icon::shadow .circle {
  border-color: #fff;
  border-width: 2px;
}

/* line 34, ../sass/partials/general.scss */
.cleardiv {
  clear: both;
}

/* line 38, ../sass/partials/general.scss */
.float_right {
  float: right;
}

/* line 42, ../sass/partials/general.scss */
.float_left {
  float: left;
}

/* line 46, ../sass/partials/general.scss */
.panel {
  background-color: #FAFAFA;
  display: none;
  float: left;
  width: 400px;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* line 58, ../sass/partials/general.scss */
.content {
  position: relative;
}

/* line 62, ../sass/partials/general.scss */
.error {
  white-space: normal;
  background-color: #eee;
  color: #000;
  padding: 15px 16px 10px;
  display: none;
}
/* line 69, ../sass/partials/general.scss */
.error paper-button {
  font-weight: 500;
  float: right;
}

/* line 75, ../sass/partials/general.scss */
core-toolbar {
  background-color: transparent;
  color: #fff;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}

/* line 82, ../sass/partials/general.scss */
.middle a {
  color: #fff;
  text-decoration: none;
}

/* line 88, ../sass/partials/general.scss */
core-item {
  padding: 0 16px;
}

/* line 92, ../sass/partials/general.scss */
.bottom_bar_container {
  height: 50px;
  position: absolute;
  bottom: 0;
}
/* line 97, ../sass/partials/general.scss */
.bottom_bar_container .bottom_bar_part {
  display: none;
  float: left;
  width: 400px;
  height: 50px;
}

/* line 11, ../sass/partials/options.scss */
.service_toggle {
  position: absolute;
  right: 0;
}

/* line 4, ../sass/partials/calendar.scss */
#calendar::shadow #headerBg {
  background-image: url('/img/../img/GC_header.svg?1415201607');
  background-size: auto 60%;
  background-position: 110%;
  background-color: #4285f4;
}

/* line 11, ../sass/partials/calendar.scss */
#calendar::shadow #condensedHeaderBg {
  background-image: none;
  background-color: #4285f4;
}

/* line 18, ../sass/partials/calendar.scss */
.today h2,
.tomorrow h2 {
  padding: 0 16px;
}
/* line 22, ../sass/partials/calendar.scss */
.today .gc_event_link,
.tomorrow .gc_event_link {
  color: #000;
  position: absolute;
  right: 0;
  left: auto;
  width: 40px;
}

/* line 31, ../sass/partials/calendar.scss */
.gc_item {
  cursor: pointer;
}
/* line 34, ../sass/partials/calendar.scss */
.gc_item::shadow #label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 344px;
}
/* line 39, ../sass/partials/calendar.scss */
.gc_item:hover {
  background-color: #eee !important;
}
/* line 42, ../sass/partials/calendar.scss */
.gc_item:hover .gc_collapse_icon_container {
  background-color: #eee !important;
}

/* line 48, ../sass/partials/calendar.scss */
.gc_collapse_icon_container {
  background-color: #FAFAFA;
  position: absolute;
  right: 0;
  padding: 8px;
}
/* line 54, ../sass/partials/calendar.scss */
.gc_collapse_icon_container .gc_collapse_icon {
  color: #9e9e9e;
}

/* line 4, ../sass/partials/gmail.scss */
#gmail::shadow #headerBg {
  background-image: url('/img/../img/GM_header.svg?1417534157');
  background-size: auto 60%;
  background-position: 118%;
  background-color: #e04a3f;
}

/* line 11, ../sass/partials/gmail.scss */
#gmail::shadow #condensedHeaderBg {
  background-image: none;
  background-color: #e04a3f;
}

/* line 18, ../sass/partials/gmail.scss */
.mail_unread h2,
.mail_read h2 {
  padding: 0 16px;
}
/* line 22, ../sass/partials/gmail.scss */
.mail_unread .gm_message,
.mail_read .gm_message {
  overflow: hidden;
  height: 72px;
}
/* line 26, ../sass/partials/gmail.scss */
.mail_unread .gm_message:hover,
.mail_read .gm_message:hover {
  background-color: #eee;
}
/* line 31, ../sass/partials/gmail.scss */
.mail_unread a,
.mail_read a {
  text-decoration: none;
  color: #000;
}
/* line 36, ../sass/partials/gmail.scss */
.mail_unread .gm_message_subject,
.mail_read .gm_message_subject {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: initial;
  padding: 17px 16px 0;
  width: 244px;
}
/* line 43, ../sass/partials/gmail.scss */
.mail_unread .gm_message_date,
.mail_read .gm_message_date {
  position: absolute;
  right: 16px;
  top: 16px;
}
/* line 49, ../sass/partials/gmail.scss */
.mail_unread .gm_message_from,
.mail_read .gm_message_from {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: initial;
  padding: 0 16px 17px;
  color: #808080;
}

/* line 3, ../sass/partials/facebook.scss */
#facebook::shadow #headerBg {
  background-image: url('/img/../img/FB_header.png?1415970894');
  background-size: auto 60%;
  background-position: 100%;
  background-color: #3b5998;
}

/* line 10, ../sass/partials/facebook.scss */
#facebook::shadow #condensedHeaderBg {
  background-image: none;
  background-color: #3b5998;
}

/* line 16, ../sass/partials/facebook.scss */
.notifications h2 {
  padding: 0 16px;
}
/* line 20, ../sass/partials/facebook.scss */
.notifications a {
  color: #000;
  text-decoration: none;
  padding: 0 16px;
  line-height: 40px;
}
/* line 27, ../sass/partials/facebook.scss */
.notifications a:hover {
  background-color: #eee;
}
/* line 31, ../sass/partials/facebook.scss */
.notifications a:visited {
  color: #808080;
}

/* line 4, ../sass/partials/couchpotato.scss */
#couchpotato::shadow #headerBg {
  background-image: url('/img/../img/CP_header.png?1415198327');
  background-size: auto 60%;
  background-position: 115%;
  background-color: #4e5969;
}

/* line 11, ../sass/partials/couchpotato.scss */
#couchpotato::shadow #condensedHeaderBg {
  background-image: none;
  background-color: #4e5969;
}

/* line 18, ../sass/partials/couchpotato.scss */
.wanted h2,
.snatched h2 {
  height: 48px;
  line-height: 48px;
  padding: 0 16px;
}
/* line 24, ../sass/partials/couchpotato.scss */
.wanted .cp_collapse_buttons,
.snatched .cp_collapse_buttons {
  position: absolute;
  right: 8px;
  height: 40px;
  top: 0;
}
/* line 30, ../sass/partials/couchpotato.scss */
.wanted .cp_collapse_buttons a,
.snatched .cp_collapse_buttons a {
  color: #000;
}
/* line 35, ../sass/partials/couchpotato.scss */
.wanted .cp_item,
.snatched .cp_item {
  cursor: pointer;
  padding-left: 72px;
  height: 56px;
}
/* line 40, ../sass/partials/couchpotato.scss */
.wanted .cp_item::shadow #label,
.snatched .cp_item::shadow #label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 272px;
}
/* line 45, ../sass/partials/couchpotato.scss */
.wanted .cp_item:hover,
.snatched .cp_item:hover {
  background-color: #eee !important;
}
/* line 48, ../sass/partials/couchpotato.scss */
.wanted .cp_item:hover .cp_collapse_icon_container,
.snatched .cp_item:hover .cp_collapse_icon_container {
  background-color: #eee !important;
}
/* line 53, ../sass/partials/couchpotato.scss */
.wanted .cp_item .cp_poster_container,
.snatched .cp_item .cp_poster_container {
  position: absolute;
  left: 16px;
  top: 9px;
  height: 38px;
  width: 38px;
  border-radius: 100%;
  overflow: hidden;
}
/* line 62, ../sass/partials/couchpotato.scss */
.wanted .cp_item .cp_poster_container .cp_poster,
.snatched .cp_item .cp_poster_container .cp_poster {
  width: 100%;
}

/* line 69, ../sass/partials/couchpotato.scss */
.cp_collapse_icon_container {
  background-color: #FAFAFA;
  position: absolute;
  right: 0;
  padding: 16px;
}
/* line 75, ../sass/partials/couchpotato.scss */
.cp_collapse_icon_container .cp_collapse_icon {
  color: #9e9e9e;
}

/* line 4, ../sass/partials/sickbeard.scss */
#sickbeard::shadow #headerBg {
  background-image: url('/img/../img/SB_header.png?1415792707');
  background-size: auto 60%;
  background-position: 110%;
  background-color: #C7DB40;
}

/* line 11, ../sass/partials/sickbeard.scss */
#sickbeard::shadow #condensedHeaderBg {
  background-image: none;
  background-color: #C7DB40;
}

/* line 20, ../sass/partials/sickbeard.scss */
.sb_missed h2,
.sb_today h2,
.sb_soon h2,
.sb_later h2 {
  height: 48px;
  line-height: 48px;
  padding: 0 16px;
}

/* line 27, ../sass/partials/sickbeard.scss */
.sb_item {
  cursor: pointer;
  padding-left: 72px;
  height: 56px;
}
/* line 32, ../sass/partials/sickbeard.scss */
.sb_item::shadow #label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 272px;
}
/* line 37, ../sass/partials/sickbeard.scss */
.sb_item:hover {
  background-color: #eee !important;
}
/* line 40, ../sass/partials/sickbeard.scss */
.sb_item:hover .sb_collapse_icon_container {
  background-color: #eee !important;
}
/* line 45, ../sass/partials/sickbeard.scss */
.sb_item .sb_poster_container {
  position: absolute;
  left: 16px;
  top: 9px;
  height: 38px;
  width: 38px;
  border-radius: 100%;
  overflow: hidden;
}
/* line 54, ../sass/partials/sickbeard.scss */
.sb_item .sb_poster_container .sb_poster {
  width: 100%;
}

/* line 60, ../sass/partials/sickbeard.scss */
.sb_collapse_buttons {
  position: absolute;
  right: 8px;
  height: 40px;
  width: 80px;
  top: 0;
}
/* line 67, ../sass/partials/sickbeard.scss */
.sb_collapse_buttons a {
  color: #000;
}

/* line 72, ../sass/partials/sickbeard.scss */
.sb_search_episode {
  position: relative;
  left: 0;
  top: 0;
}

/* line 78, ../sass/partials/sickbeard.scss */
.sb_search_spinner {
  position: absolute;
  left: 0;
  top: 0;
  padding: 8px;
  pointer-events: none;
  height: 24px;
  width: 24px;
}

/* line 88, ../sass/partials/sickbeard.scss */
.sb_tvdb_link {
  position: absolute;
  right: 0;
  top: 0;
}

/* line 94, ../sass/partials/sickbeard.scss */
.sb_collapse_icon_container {
  background-color: #FAFAFA;
  position: absolute;
  right: 0;
  padding: 16px;
}
/* line 100, ../sass/partials/sickbeard.scss */
.sb_collapse_icon_container .sb_collapse_icon {
  color: #9e9e9e;
}

/* line 4, ../sass/partials/sabnzbd.scss */
#sabnzbd::shadow #headerBg {
  background-image: url('/img/../img/SAB_header.png?1415198382');
  background-size: auto 60%;
  background-position: 110%;
  background-color: #ffeb3b;
}

/* line 11, ../sass/partials/sabnzbd.scss */
#sabnzbd::shadow #condensedHeaderBg {
  background-image: none;
  background-color: #ffeb3b;
}

/* line 18, ../sass/partials/sabnzbd.scss */
.queue h2,
.history h2 {
  padding: 0 16px;
}
/* line 22, ../sass/partials/sabnzbd.scss */
.queue core-item::shadow #label,
.history core-item::shadow #label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* line 27, ../sass/partials/sabnzbd.scss */
.sab_time {
  right: 16px;
  position: absolute;
  line-height: 40px;
}

/* line 4, ../sass/partials/designernews.scss */
#designernews::shadow #headerBg {
  background-image: url('/img/../img/DN_header.png?1415210857');
  background-size: auto 60%;
  background-position: 110%;
  background-color: #1c52a2;
}

/* line 11, ../sass/partials/designernews.scss */
#designernews::shadow #condensedHeaderBg {
  background-image: none;
  background-color: #1c52a2;
}

/* line 16, ../sass/partials/designernews.scss */
.dn_link_container {
  height: 72px;
}
/* line 19, ../sass/partials/designernews.scss */
.dn_link_container .dn_story_url {
  padding: 17px 16px 0;
  height: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-decoration: none;
  color: #000;
  width: 312px;
}
/* line 27, ../sass/partials/designernews.scss */
.dn_link_container .dn_story_url:hover {
  color: #000;
}
/* line 31, ../sass/partials/designernews.scss */
.dn_link_container .dn_story_url:visited {
  color: #808080;
}
/* line 36, ../sass/partials/designernews.scss */
.dn_link_container .dn_comments_url {
  margin: 0 0 17px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-decoration: none;
  color: #808080;
  top: initial;
  left: initial;
  right: initial;
  bottom: 0;
}
/* line 46, ../sass/partials/designernews.scss */
.dn_link_container .dn_comments_url:hover {
  text-decoration: underline;
}
/* line 51, ../sass/partials/designernews.scss */
.dn_link_container .dn_upvote_container {
  background-color: #FAFAFA;
  position: absolute;
  right: 0;
  padding: 24px 16px;
}
/* line 57, ../sass/partials/designernews.scss */
.dn_link_container .dn_upvote_container .dn_upvote {
  color: #9e9e9e;
  cursor: pointer;
}
/* line 61, ../sass/partials/designernews.scss */
.dn_link_container .dn_upvote_container .dn_upvote:hover {
  color: #000;
}
/* line 67, ../sass/partials/designernews.scss */
.dn_link_container:hover {
  background-color: #eee;
}
/* line 70, ../sass/partials/designernews.scss */
.dn_link_container:hover .dn_story_url {
  color: #000;
}
/* line 74, ../sass/partials/designernews.scss */
.dn_link_container:hover .dn_upvote_container {
  background-color: #eee;
}
