@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/Roboto-Thin-webfont.eot");
  src: url("../fonts/Roboto-Thin-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Thin-webfont.woff") format("woff"), url("../fonts/Roboto-Thin-webfont.ttf") format("truetype"), url("../fonts/Roboto-Thin-webfont.svg#robotothin") format("svg");
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Roboto-Light-webfont.eot");
  src: url("../fonts/Roboto-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Light-webfont.woff") format("woff"), url("../fonts/Roboto-Light-webfont.ttf") format("truetype"), url("../fonts/Roboto-Light-webfont.svg#robotolight") format("svg");
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Roboto-Regular-webfont.eot");
  src: url("../fonts/Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular-webfont.woff") format("woff"), url("../fonts/Roboto-Regular-webfont.ttf") format("truetype"), url("../fonts/Roboto-Regular-webfont.svg#robotoregular") format("svg");
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Roboto-Medium-webfont.eot");
  src: url("../fonts/Roboto-Medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Medium-webfont.woff") format("woff"), url("../fonts/Roboto-Medium-webfont.ttf") format("truetype"), url("../fonts/Roboto-Medium-webfont.svg#robotomedium") format("svg");
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Roboto-Bold-webfont.eot");
  src: url("../fonts/Roboto-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Bold-webfont.woff") format("woff"), url("../fonts/Roboto-Bold-webfont.ttf") format("truetype"), url("../fonts/Roboto-Bold-webfont.svg#robotobold") format("svg");
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/Roboto-Black-webfont.eot");
  src: url("../fonts/Roboto-Black-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Black-webfont.woff") format("woff"), url("../fonts/Roboto-Black-webfont.ttf") format("truetype"), url("../fonts/Roboto-Black-webfont.svg#robotoblack") format("svg");
}
/* line 71, ../sass/modules/text.scss */
body {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.87);
}

/* line 78, ../sass/modules/text.scss */
h2 {
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  font-family: 'Roboto';
  font-weight: 500;
  color: #727272;
  margin: 0;
}

/* line 88, ../sass/modules/text.scss */
p {
  margin: 3px 0;
}

/* line 3, ../sass/partials/general.scss */
body {
  margin: 0;
  padding: 0;
  overflow-x: auto;
  overflow-y: hidden;
}

/* line 10, ../sass/partials/general.scss */
.settings_button {
  position: fixed;
  right: 0;
  bottom: 0;
  color: #000;
  z-index: 1;
}
/* line 17, ../sass/partials/general.scss */
.settings_button::shadow #icon {
  height: 30px;
  width: 30px;
}

/* line 23, ../sass/partials/general.scss */
.refresh_loading_icon {
  height: 24px;
  width: 24px;
  padding: 8px;
}
/* line 28, ../sass/partials/general.scss */
.refresh_loading_icon::shadow .circle {
  border-color: #fff;
  border-width: 2px;
}

/* line 34, ../sass/partials/general.scss */
.cleardiv {
  clear: both;
}

/* line 38, ../sass/partials/general.scss */
.float_right {
  float: right;
}

/* line 42, ../sass/partials/general.scss */
.float_left {
  float: left;
}

/* line 46, ../sass/partials/general.scss */
.panel {
  background-color: #FAFAFA;
  display: none;
  float: left;
  width: 400px;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* line 58, ../sass/partials/general.scss */
.content {
  position: relative;
}

/* line 62, ../sass/partials/general.scss */
.error {
  white-space: normal;
  background-color: #eee;
  color: #000;
  padding: 15px 16px 10px;
  display: none;
}
/* line 69, ../sass/partials/general.scss */
.error paper-button {
  font-weight: 500;
  float: right;
}

/* line 75, ../sass/partials/general.scss */
core-toolbar {
  background-color: transparent;
  color: #fff;
}

/* line 81, ../sass/partials/general.scss */
.middle a {
  color: #fff;
  text-decoration: none;
}

/* line 87, ../sass/partials/general.scss */
core-item {
  padding: 0 16px;
}

/* line 3, ../sass/partials/calendar.scss */
#calendar::shadow #headerBg {
  background-image: url('/img/../img/GC_header.svg?1415201607');
  background-size: auto 60%;
  background-position: 110%;
  background-color: #4285f4;
}

/* line 10, ../sass/partials/calendar.scss */
#calendar::shadow #condensedHeaderBg {
  background-image: none;
  background-color: #4285f4;
}

/* line 17, ../sass/partials/calendar.scss */
.today h2,
.tomorrow h2 {
  padding: 0 16px;
}
/* line 21, ../sass/partials/calendar.scss */
.today a,
.tomorrow a {
  right: 0 !important;
  top: auto !important;
  left: auto !important;
  bottom: auto !important;
  line-height: 1;
  display: none;
}
/* line 30, ../sass/partials/calendar.scss */
.today core-item:hover > a,
.tomorrow core-item:hover > a {
  display: block;
}

/* line 3, ../sass/partials/gmail.scss */
#gmail::shadow #headerBg {
  background-image: url('/img/../img/GM_header.svg?1417534157');
  background-size: auto 60%;
  background-position: 118%;
  background-color: #e04a3f;
}

/* line 10, ../sass/partials/gmail.scss */
#gmail::shadow #condensedHeaderBg {
  background-image: none;
  background-color: #e04a3f;
}

/* line 17, ../sass/partials/gmail.scss */
.mail_unread h2,
.mail_read h2 {
  padding: 0 16px;
}
/* line 21, ../sass/partials/gmail.scss */
.mail_unread .gm_message:hover,
.mail_read .gm_message:hover {
  background-color: #eee;
}

/* line 3, ../sass/partials/facebook.scss */
#facebook::shadow #headerBg {
  background-image: url('/img/../img/FB_header.png?1415970894');
  background-size: auto 60%;
  background-position: 100%;
  background-color: #3b5998;
}

/* line 10, ../sass/partials/facebook.scss */
#facebook::shadow #condensedHeaderBg {
  background-image: none;
  background-color: #3b5998;
}

/* line 16, ../sass/partials/facebook.scss */
.notifications h2,
.notifications a {
  padding: 0 16px;
}
/* line 21, ../sass/partials/facebook.scss */
.notifications a:hover {
  background-color: #eee;
}

/* line 3, ../sass/partials/couchpotato.scss */
#couchpotato::shadow #headerBg {
  background-image: url('/img/../img/CP_header.png?1415198327');
  background-size: auto 60%;
  background-position: 115%;
  background-color: #4e5969;
}

/* line 10, ../sass/partials/couchpotato.scss */
#couchpotato::shadow #condensedHeaderBg {
  background-image: none;
  background-color: #4e5969;
}

/* line 19, ../sass/partials/couchpotato.scss */
.cp_button_container {
  position: absolute;
  right: 0;
  width: 100%;
  background-color: #fff;
}
/* line 25, ../sass/partials/couchpotato.scss */
.cp_button_container .cp_add_button {
  float: right;
  margin: 10px;
  position: relative;
}
/* line 30, ../sass/partials/couchpotato.scss */
.cp_button_container .cp_add_button:hover {
  background-color: #eee;
}

/* line 36, ../sass/partials/couchpotato.scss */
#cp_form_container {
  overflow: scroll;
  width: 30%;
}
/* line 42, ../sass/partials/couchpotato.scss */
#cp_form_container .cp_form_close {
  position: absolute;
  top: 0;
  right: 0;
  color: #808080;
  z-index: 10;
}
/* line 50, ../sass/partials/couchpotato.scss */
#cp_form_container .content {
  padding: 0 8px;
}
/* line 54, ../sass/partials/couchpotato.scss */
#cp_form_container .cp_form_search {
  height: 40px;
  border: 0;
  width: 95.5%;
  outline: none;
  padding: 0 0 0 5px;
  margin: 5px;
  font-size: 20px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.16);
}
/* line 65, ../sass/partials/couchpotato.scss */
#cp_form_container .cp_search_result {
  display: none;
  height: 150px;
  overflow-y: scroll;
  background-color: #808080;
}
/* line 71, ../sass/partials/couchpotato.scss */
#cp_form_container .cp_search_result .cp_search_movie {
  height: 30px;
}
/* line 74, ../sass/partials/couchpotato.scss */
#cp_form_container .cp_search_result .cp_search_movie .cp_search_poster {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  width: 34px;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 88, ../sass/partials/couchpotato.scss */
.wanted h2,
.snatched h2 {
  height: 48px;
  line-height: 48px;
  padding: 0 16px;
}
/* line 94, ../sass/partials/couchpotato.scss */
.wanted .cp_imdb_link,
.snatched .cp_imdb_link {
  color: #000;
  position: absolute;
  right: 8px;
  left: auto;
  width: 40px;
}
/* line 102, ../sass/partials/couchpotato.scss */
.wanted .cp_item,
.snatched .cp_item {
  cursor: pointer;
  padding-left: 72px;
  height: 56px;
}
/* line 107, ../sass/partials/couchpotato.scss */
.wanted .cp_item:hover,
.snatched .cp_item:hover {
  background-color: #eee !important;
}
/* line 110, ../sass/partials/couchpotato.scss */
.wanted .cp_item:hover .cp_collapse_icon_container,
.snatched .cp_item:hover .cp_collapse_icon_container {
  background-color: #eee !important;
}
/* line 115, ../sass/partials/couchpotato.scss */
.wanted .cp_item .cp_poster,
.snatched .cp_item .cp_poster {
  position: absolute;
  left: 16px;
  top: 9px;
  height: 38px;
  width: 38px;
  border-radius: 100%;
}

/* line 126, ../sass/partials/couchpotato.scss */
.cp_collapse_icon_container {
  background-color: #FAFAFA;
  position: absolute;
  right: 0;
  padding: 16px;
}
/* line 132, ../sass/partials/couchpotato.scss */
.cp_collapse_icon_container .cp_collapse_icon {
  color: #9e9e9e;
}

/* line 3, ../sass/partials/sickbeard.scss */
#sickbeard::shadow #headerBg {
  background-image: url('/img/../img/SB_header.png?1415792707');
  background-size: auto 60%;
  background-position: 110%;
  background-color: #C7DB40;
}

/* line 10, ../sass/partials/sickbeard.scss */
#sickbeard::shadow #condensedHeaderBg {
  background-image: none;
  background-color: #C7DB40;
}

/* line 19, ../sass/partials/sickbeard.scss */
.sb_missed h2,
.sb_today h2,
.sb_soon h2,
.sb_later h2 {
  padding: 0 16px;
}

/* line 24, ../sass/partials/sickbeard.scss */
.sb_item {
  cursor: pointer;
  padding-left: 72px;
  height: 56px;
}
/* line 29, ../sass/partials/sickbeard.scss */
.sb_item:hover {
  background-color: #eee !important;
}
/* line 32, ../sass/partials/sickbeard.scss */
.sb_item:hover .sb_collapse_icon_container {
  background-color: #eee !important;
}
/* line 37, ../sass/partials/sickbeard.scss */
.sb_item .sb_poster {
  position: absolute;
  left: 16px;
  top: 9px;
  height: 38px;
  width: 38px;
  border-radius: 100%;
}

/* line 47, ../sass/partials/sickbeard.scss */
.sb_search_episode {
  position: absolute;
  right: 0;
  top: 0;
}

/* line 53, ../sass/partials/sickbeard.scss */
.sb_search_spinner {
  position: absolute;
  right: 0;
  top: 0;
  padding: 8px;
  pointer-events: none;
  height: 24px;
  width: 24px;
}

/* line 63, ../sass/partials/sickbeard.scss */
.sb_collapse_icon_container {
  background-color: #FAFAFA;
  position: absolute;
  right: 0;
  padding: 16px;
}
/* line 69, ../sass/partials/sickbeard.scss */
.sb_collapse_icon_container .sb_collapse_icon {
  color: #9e9e9e;
}

/* line 3, ../sass/partials/sabnzbd.scss */
#sabnzbd::shadow #headerBg {
  background-image: url('/img/../img/SAB_header.png?1415198382');
  background-size: auto 60%;
  background-position: 110%;
  background-color: #ffeb3b;
}

/* line 10, ../sass/partials/sabnzbd.scss */
#sabnzbd::shadow #condensedHeaderBg {
  background-image: none;
  background-color: #ffeb3b;
}

/* line 17, ../sass/partials/sabnzbd.scss */
.queue h2,
.history h2 {
  padding: 0 16px;
}

/* line 3, ../sass/partials/designernews.scss */
#designernews::shadow #headerBg {
  background-image: url('/img/../img/DN_header.png?1415210857');
  background-size: auto 60%;
  background-position: 110%;
  background-color: #1c52a2;
}

/* line 10, ../sass/partials/designernews.scss */
#designernews::shadow #condensedHeaderBg {
  background-image: none;
  background-color: #1c52a2;
}

/* line 16, ../sass/partials/designernews.scss */
.dn_links a {
  padding: 0 16px;
}
/* line 20, ../sass/partials/designernews.scss */
.dn_links a:hover {
  background-color: #eee;
}

/* line 26, ../sass/partials/designernews.scss */
core-item a {
  line-height: 40px;
  text-decoration: none;
  color: #000;
}
/* line 31, ../sass/partials/designernews.scss */
core-item a:hover {
  color: #000;
}
/* line 35, ../sass/partials/designernews.scss */
core-item a:visited {
  color: #808080;
}
