@import '~css/modules/colors';

.options-support {
  padding-top: 10px;

  &__button.raised-button {
    background-color: $color-white;
    margin-left: 0;
    vertical-align: middle;

    img {
      height: 75%;
      vertical-align: middle;
    }
  }

  h2 {
    color: $color-text-secondary;
    font-family: 'Roboto', 'Helvetica';
    font-size: 13px;
    font-weight: 500;
    margin: 0 0 5px;
  }

  p {
    font-size: 14px;
    margin: 0 0 20px;
  }
}
