@import '~css/modules/mixins';
@import '~css/modules/colors';

.options-menu {
  @include paper-shadow();
  float: left;
  height: calc(100vh - 64px);
  overflow: auto;
  padding: 8px 0 48px;
  position: relative;
  transition: width 400ms;
  width: 256px;
  z-index: 100;

  &--link {
    color: $color-text-primary;
    display: block;
    height: 48px;
    line-height: 48px;
    padding: 0 16px 0 8px;
    position: relative;
    text-decoration: none;
    transition: background-color 150ms;

    &:hover,
    &.router-link-active {
      background-color: #ebebeb;
    }
  }

  &--switch {
    float: right;
  }


  // Left side handle
  &--drag-handle {
    background-image: url('~img/icons/reorder.svg');
    background-position: 50%;
    background-repeat: no-repeat;
    cursor: ns-resize;
    float: left;
    display: inline-block;
    height: 100%;
    margin-right: 8px;
    width: 20px;
  }

  &--support {
    background-color: $color-white;
    border-top: solid 1px #ececec;
    bottom: 0;
    position: fixed;
    width: 256px;
    z-index: 10;
    z-index: 10;
  }
}


@media screen and (max-width: 580px) {
  .options-menu {
    background-color: $color-white;
    left: 0;
    position: absolute;
    top: 64px;
    width: 0;

    &.options-menu__show {
      width: 265px;
    }
  }
}
