@import '~css/modules/colors';
@import '~css/modules/ripple';

* {
  box-sizing: border-box;
}

html,
html a {
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0 , .004);
}

body {
  font-family: 'Roboto', 'Helvetica Neue', 'Lucida Grande', sans-serif;
  margin: 0;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 0;
  width: 0;
}

.options--label {
  color: #aaaaaa;
  display: block;
  font-size: 12px;
  margin: 8px 0 5px;
  pointer-events: none;
}

.options--view {
  height: calc(100vh - 64px);
  overflow: auto;
  padding: 8px 16px;
  position: relative;
  width: calc(100vw - 256px);
  display: inline-block;
}

@media screen and (max-width: 580px) {
  .options--view {
    width: 100vw;
  }
}
