$white: #fff;
$grey: #808080;
$black: #000;

$justab-color: #03a9f4;

$text-color: rgba(0, 0, 0, .87);
$divider-color: rgba(0, 0, 0, .18);
$panel-background: #fafafa;
$header-grey: #727272;

$hover-color: rgba(153, 153, 153, .2);

$calendar-color: #4285f4;
$gmail-color: #e04a3f;
$facebook-color: #3b5998;
$couchpotato-color: #4e5969;
$sabnzbd-color: #ffeb3b;
$designernews-color: #1c52a2;
$sickbeard-color: #c7db40;
$hackernews-color: #f60;
$github-color: #000;
$producthunt-color: #df5337;
$dribbble-color: #ea4c89;
$reddit-color: #CFE3FA;
$nzbget-color: #282828;

$error-color: #f44336;
