$color-white: #fff;
$color-grey: #808080;
$color-black: #000;

$color-primary: #03a9f4;

$color-text-primary: rgba(0, 0, 0, .87);
$color-text-secondary: rgba(0, 0, 0, .54);
$divider-color: rgba(0, 0, 0, .18);
$panel-background: #fafafa;
$header-grey: #727272;

$hover-color: rgba(153, 153, 153, .2);

$calendar-color: #4285f4;
$gmail-color: #e04a3f;
$couchpotato-color: #4e5969;
$sabnzbd-color: #ffeb3b;
$designernews-color: #1c52a2;
$sickbeard-color: #c7db40;
$hackernews-color: #f60;
$github-color: #000;
$producthunt-color: #df5337;
$dribbble-color: #ea4c89;
$reddit-color: #cfe3fa;
$nzbget-color: #282828;
$sonarr-color: #5fb9ef;

$error-color: #f44336;
