.expand-more-icon {
  background-image: image-url('icons/expand_more.svg');
  height: 24px;
  width: 24px;
}

.expand-less-icon {
  background-image: image-url('icons/expand_less.svg');
  height: 24px;
  width: 24px;
}

.search-icon {
  background-image: image-url('icons/search.svg');
  height: 24px;
  width: 24px;
}

.remove-icon {
  background-image: image-url('icons/delete.svg');
  height: 24px;
  width: 24px;
}

.info-icon {
  background-image: image-url('icons/info.svg');
  height: 24px;
  width: 24px;
}

.edit-icon {
  background-image: image-url('icons/edit.svg');
  height: 24px;
  width: 24px;
}

.done-icon {
  background-image: image-url('icons/done.svg');
  height: 24px;
  width: 24px;
}

.done-all-icon {
  background-image: image-url('icons/done_all.svg');
  height: 24px;
  width: 24px;
}

.error-icon {
  background-image: image-url('icons/error.svg');
  height: 24px;
  width: 24px;
}

.thumb-up-icon {
  background-image: image-url('icons/thumb_up.svg');
  height: 24px;
  width: 24px;
}

.thumb-up-voted-icon {
  background-image: image-url('icons/thumb_up_voted.svg');
  height: 24px;
  width: 24px;
}

.settings-icon {
  background-image: image-url('icons/settings.svg');
  height: 24px;
  width: 24px;
}
