.core-item {
  @include ripple($color-black);
  border-top: solid 1px transparent;
  line-height: 48px;
  min-height: 48px;
  overflow: hidden;
  padding: 0 16px;
  position: relative;
  transition: border-color 330ms, background-color 150ms;
  width: 100%;

  .core-item-content {
    @include text-truncate;
    width: 100%;
  }

  .core-item-icon {
    padding: 0 16px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-image: image-url('icons/expand_more.svg');
    height: 100%;
    width: 55px;
    transition: background-image 300ms ease;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

  &.expanded {
    border-top-color: #ececec;

    .core-item-icon {
      background-image: image-url('icons/expand_less.svg');
    }
  }

  &:not(.without-hover) {
    cursor: pointer;

    &:hover {
      background-color: $hover-color;
    }
  }
}

.core-collapse {
  @include text-truncate;
  border-bottom: solid 1px transparent;
  height: 0;
  overflow-y: hidden;
  transition: height 330ms, border-color 330ms;

  &.expanded {
    border-bottom-color: #ececec;
    height: 48px;
  }
}
