@mixin text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin paper-shadow($z: 1) {
  @if $z == 1 {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .37);
  } @else if $z == 2 {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .3);
  } @else if $z == 3 {
    box-shadow: 0 11px 7px 0 rgba(0, 0, 0, .19), 0 13px 25px 0 rgba(0, 0, 0, .3);
  } @else if $z == 4 {
    box-shadow: 0 13px 25px 0 rgba(0, 0, 0, .3), 0 14px 12px 0 rgba(0, 0, 0, .17);
  } @else if $z == 5 {
    box-shadow: 0 17px 17px 0 rgba(0, 0, 0, .15), 0 27px 55px 0 rgba(0, 0, 0, .3);
  }
}
