.switch,
.switch * {
  user-select: none;

  label {
    cursor: pointer;
  }

  input {
    display: block;
    height: 0;
    margin: 0;
    opacity: 0;
    width: 0;

    &:checked + .lever {
      background-color: #80cdae;
    }

    &:checked + .lever:after {
      background-color: #009d5f;
      left: 16px;
    }

    &:checked:not(:disabled) ~ .lever:active:after {
      box-shadow: 0 1px 3px 1px rgba(0, 0, 0, .4), 0 0 0 15px transparentize(#008080 , .9);
    }

    &:not(:disabled) ~ .lever:active:after {
      box-shadow: 0 1px 3px 1px rgba(0, 0, 0, .4), 0 0 0 15px rgba(0, 0, 0, .08);
    }

    &[disabled] + .lever {
      cursor: default;
    }

    &[disabled] + .lever:after,
    &[disabled]:checked + .lever:after {
      background-color: #bdbdbd;
    }
  }

  .lever {
    background-color: #bcbcbc;
    border-radius: 14px;
    content: '';
    display: inline-block;
    height: 14px;
    position: relative;
    transition: background .3s ease;
    vertical-align: middle;
    width: 36px;

    &:after {
      background-color: #f1f1f1;
      border-radius: 20px;
      box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .4);
      content: '';
      display: inline-block;
      height: 20px;
      left: 0;
      position: absolute;
      top: -3px;
      transition: left linear .08s, background linear .08s, box-shadow .1s ease;
      width: 20px;
    }
  }
}
