@import 'modules/md-colors';

$white: #fff;
$grey: #808080;
$black: #000;

$text-color: rgba(0,0,0,.87);
$divider-color: rgba(0,0,0,.18);
$panel-background: #FAFAFA;
$header-grey: #727272;

$hover-color: #eee;

$calendar-color: #4285f4;
$gmail-color: #e04a3f;
$facebook-color: #3b5998;
$couchpotato-color: #4e5969;
$sabnzbd-color: #ffeb3b;
$designernews-color: #1c52a2;
$sickbeard-color: #C7DB40;
$hackernews-color: #FF6600;

$error-color: #F44336;
