$white: #fff;
$grey: #808080;
$black: #000;

$header-grey: #727272;

$hover-color: #eee;

$calendar-color: #4285f4;
$facebook-color: #3b5998;
$couchpotato-color: #4e5969;
$sabnzbd-color: #ffeb3b;
$designernews-color: #1c52a2;
$sickbeard-color: #C7DB40;
