.expand_more_icon {
  height: 24px;
  width: 24px;
  background-image: image-url('icons/expand_more.svg');
}

.expand_less_icon {
  height: 24px;
  width: 24px;
  background-image: image-url('icons/expand_less.svg');
}

.search_icon {
  height: 24px;
  width: 24px;
  background-image: image-url('icons/search.svg')
}

.info_icon {
  height: 24px;
  width: 24px;
  background-image: image-url('icons/info.svg')
}

.edit_icon {
  height: 24px;
  width: 24px;
  background-image: image-url('icons/edit.svg');
}

.done_icon {
  height: 24px;
  width: 24px;
  background-image: image-url('icons/done.svg');
}

.error_icon {
  height: 24px;
  width: 24px;
  background-image: image-url('icons/error.svg');
}