.core_item {
  @include ripple(#000);
  min-height: 48px;
  width: 100%;
  padding: 0 16px;
  position: relative;
  line-height: 48px;
  overflow: hidden;
  transition: border-color 330ms, background-color 150ms;
  border-top: solid 1px transparent;

  .core_item_content {
    @include text-truncate;
    width: 100%;
  }

  .core_item_icon {
    position: absolute;
    top: 0;
    right: 0;
    height: 48px;
    width: 56px;
    padding: 12px 16px;
  }

  &.expanded {
    border-top-color: #ECECEC;
  }

  &:not(.without_hover) {
    cursor: pointer;

    &:hover {
      background-color: $hover-color;
    }
  }
}

.core_collapse {
  @include text-truncate;
  overflow-y: hidden;
  height: 0;
  border-bottom: solid 1px transparent;
  transition: height 330ms, border-color 330ms;

  &.expanded {
    height: 48px;
    border-bottom-color: #ECECEC;
  }
}

.bottom_bar_container {
  height: 50px;
  position: absolute;
  bottom: 0;
  pointer-events: none;

  .bottom_bar_part {
    display: none;
    float: left;
    width: 400px;
    height: 50px;
  }
}