@mixin text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin paper-shadow($z: 1) {
  @if $z == 1 {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  } @else if $z == 2 {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.3);
  } @else if $z == 3 {
    box-shadow: 0 11px 7px 0 rgba(0, 0, 0, 0.19), 0 13px 25px 0 rgba(0, 0, 0, 0.3);
  } @else if $z == 4 {
    box-shadow: 0 13px 25px 0 rgba(0, 0, 0, 0.3), 0 14px 12px 0 rgba(0, 0, 0, 0.17);
  } @else if $z == 5 {
    box-shadow: 0 17px 17px 0 rgba(0, 0, 0, 0.15), 0 27px 55px 0 rgba(0, 0, 0, 0.3);
  }
}

@mixin spinner($color: #FFF) {
  $fill-unfill-rotate: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both;

  #spinnerContainer {
    -webkit-animation: container-rotate 1568ms linear infinite;
    display: inline-block;
    position: relative;
    width: 24px;
    height: 24px;
  }

  .spinner-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    border-color: $color;

    &.blue {
      -webkit-animation: $fill-unfill-rotate, blue-fade-in-out 5332ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both;
    }

    &.red {
      -webkit-animation: $fill-unfill-rotate, red-fade-in-out 5332ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both;
    }

    &.yellow {
      -webkit-animation: $fill-unfill-rotate, yellow-fade-in-out 5332ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both;
    }

    &.green {
      -webkit-animation: $fill-unfill-rotate, green-fade-in-out 5332ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both;
    }
  }

  .gap-patch {
    position: absolute;
    box-sizing: border-box;
    top: 0;
    left: 45%;
    width: 10%;
    height: 100%;
    overflow: hidden;
    border-color: inherit;

    &.circle {
      width: 1000%;
      left: -450%;
    }
  }

  .circle-clipper {
    display: inline-block;
    position: relative;
    width: 50%;
    height: 100%;
    overflow: hidden;
    border-color: inherit;

    .circle {
      width: 200%;
      box-sizing: border-box;
      height: 100%;
      border-width: 2px;
      border-style: solid;
      border-color: inherit;
      border-bottom-color: transparent !important;
      border-radius: 50%;
      -webkit-animation: none;
      position: absolute;
      top:0;right:0;bottom:0;left:0;
    }

    &.left .circle {
      border-right-color: transparent !important;
      -webkit-transform: rotate(129deg);
      -webkit-animation: left-spin 1333ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both;
    }

    &.right .circle {
      left: -100%;
      border-left-color: transparent !important;
      -webkit-transform: rotate(-129deg);
      -webkit-animation: right-spin 1333ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both;
    }
  }

  @-webkit-keyframes container-rotate {
    to { -webkit-transform: rotate(360deg) }
  }

  @-webkit-keyframes fill-unfill-rotate {
    12.5% { -webkit-transform: rotate(135deg);  }
    25%   { -webkit-transform: rotate(270deg);  }
    37.5% { -webkit-transform: rotate(405deg);  }
    50%   { -webkit-transform: rotate(540deg);  }
    62.5% { -webkit-transform: rotate(675deg);  }
    75%   { -webkit-transform: rotate(810deg);  }
    87.5% { -webkit-transform: rotate(945deg);  }
    to    { -webkit-transform: rotate(1080deg); }
  }

  @-webkit-keyframes blue-fade-in-out {
    from { opacity: 0.99; }
    25% { opacity: 0.99; }
    26% { opacity: 0; }
    89% { opacity: 0; }
    90% { opacity: 0.99; }
    100% { opacity: 0.99; }
  }

  @-webkit-keyframes red-fade-in-out {
    from { opacity: 0; }
    15% { opacity: 0; }
    25% { opacity: 0.99; }
    50% { opacity: 0.99; }
    51% { opacity: 0; }
  }

  @-webkit-keyframes yellow-fade-in-out {
    from { opacity: 0; }
    40% { opacity: 0; }
    50% { opacity: 0.99; }
    75% { opacity: 0.99; }
    76% { opacity: 0; }
  }

  @-webkit-keyframes green-fade-in-out {
    from { opacity: 0; }
    65% { opacity: 0; }
    75% { opacity: 0.99; }
    90% { opacity: 0.99; }
    100% { opacity: 0; }
  }

  @-webkit-keyframes left-spin {
    from { -webkit-transform: rotate(130deg); }
    50% { -webkit-transform: rotate(-5deg); }
    to { -webkit-transform: rotate(130deg); }
  }

  @-webkit-keyframes right-spin {
    from { -webkit-transform: rotate(-130deg); }
    50% { -webkit-transform: rotate(5deg); }
    to { -webkit-transform: rotate(-130deg); }
  }
}

@mixin ripple($color: #FFF) {
  &.waves-effect {
    position: relative;
    cursor: pointer;
    display: block;
    overflow: hidden;
    -webkit-user-select: none;
    user-select: none;
    will-change: opacity, transform;
    // -webkit-transition: all .3s ease-out;

    .waves-ripple {
      position: absolute;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      margin-top:-10px;
      margin-left:-10px;
      -webkit-transition: all 0.7s ease-out;
      -webkit-transition-property: -webkit-transform, opacity;
      -webkit-transform: scale(0);
      pointer-events: none;
      background-color: rgba($color, 0.25);
    }
  }

  .waves-notransition {
    -webkit-transition: none #{"!important"};
  }

  .waves-circle {
    -webkit-transform: translateZ(0);
    -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
  }

  .waves-input-wrapper {
    border-radius: 0.2em;
    vertical-align: bottom;

    .waves-button-input {
      position: relative;
      top: 0;
      left: 0;
      z-index: 1;
    }
  }

  .waves-circle {
    text-align: center;
    width: 2.5em;
    height: 2.5em;
    line-height: 2.5em;
    border-radius: 50%;
    -webkit-mask-image: none;
  }

  .waves-block {
    display: block;
  }
}