.switch,
.switch * {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  label {
    cursor: pointer;

    input[type=checkbox] {
      opacity: 0;
      width: 0;
      height: 0;
      display: block;
      margin: 0;

      &:checked + .lever {
        background-color: #80CDAE;
      }

      &:checked + .lever:after {
        background-color: #009D5F;
        left: 16px;
      }

      &:checked:not(:disabled) ~ .lever:active:after {
        box-shadow: 0 1px 3px 1px rgba(0,0,0,0.4), 0 0 0 15px transparentize(teal, .9);
      }

      &:not(:disabled) ~ .lever:active:after {
        box-shadow: 0 1px 3px 1px rgba(0,0,0,0.4), 0 0 0 15px rgba(0, 0, 0, 0.08);
      }

      &[disabled] + .lever{
        cursor: default;
      }

      &[disabled] + .lever:after,
      &[disabled]:checked + .lever:after {
        background-color: #BDBDBD;
      }
    }

    .lever {
      content: "";
      display: inline-block;
      position: relative;
      width: 36px;
      height: 14px;
      background-color: #BCBCBC;
      border-radius: 14px;
      transition: background 0.3s ease;
      vertical-align: middle;

      &:after {
        content: "";
        position: absolute;
        display: inline-block;
        width: 20px;
        height: 20px;
        background-color: #F1F1F1;
        border-radius: 20px;
        box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.4);
        left: 0;
        top: -3px;
        transition: left linear .08s, background linear .08s, box-shadow 0.1s ease;
      }
    }
  }
}