.events {
  .core-item-content {
    width: calc(100% - 40px);
  }

  .gc-event-location {
    @include text-truncate;
    float: left;
    line-height: 48px;
    max-width: calc(100% - 96px);
    padding-left: 16px;
  }

  .gc-icon-container {
    float: right;
    height: 48px;
    width: 96px;

    .gc-event-remove-icon,
    .gc-event-link-icon {
      @include spinner($color-black);
      @include ripple($color-black);
      background-position: 50%;
      background-repeat: no-repeat;
      border-radius: 100%;
      float: left;
      height: 48px;
      padding: 12px;
      width: 48px;
      transition: opacity 300ms ease;
    }

    .gc-event-link {
      float: left;
    }
  }
}
