.panel-couchpotato-background {
  .panel-header-background1 {
    background-color: $couchpotato-color;
  }

  .panel-header-background2 {
    background-color: $couchpotato-color;
    background-image: image-url('CP_header.png');
    background-position: right -50px center;
    background-size: auto 76.8px;
  }
}

.wanted,
.snatched {
  .cp-item {
    height: 56px;
    line-height: 56px;
    padding-left: 72px;

    .cp-poster-container {
      border-radius: 100%;
      height: 38px;
      left: 16px;
      overflow: hidden;
      position: absolute;
      top: 9px;
      width: 38px;

      .cp-poster {
        width: 100%;
      }
    }

    .core-item-content {
      width: calc(100% - 38px);
    }

    .core-item-icon {
      height: 56px;
      padding: 16px;
    }
  }

  .cp-collapse {
    line-height: 48px;
    padding-left: 16px;
    position: relative;

    .cp-collapse-date {
      @include text-truncate;
      max-width: calc(100% - 104px);
    }

    .cp-collapse-buttons {
      height: 48px;
      position: absolute;
      right: 0;
      top: 0;
      width: 104px;
    }

    .cp-search-movie {
      margin: 0 4px;
    }

    .cp-search-movie,
    .cp-imdb-link-icon {
      @include ripple($color-black);
      background-position: 50%;
      background-repeat: no-repeat;
      border-radius: 100%;
      float: right;
      height: 48px;
      padding: 12px;
      width: 48px;
    }
  }
}
