.panel-nzbget-background {
  .panel-header-background1 {
    background-color: $nzbget-color;
  }

  .panel-header-background2 {
    background-color: $nzbget-color;
    background-image: image-url('NG_header.png');
    background-position: right -35px center;
    background-size: auto 76.8px;
  }
}

#nzbget {
  .queue {
    .ng-item-container {
      height: 72px;
      line-height: initial;

      .ng-item-name {
        @include text-truncate;
        padding-top: 17px;
        position: absolute;
        top: 0;
        width: calc(100% - 16px);
      }

      .ng-item-status {
        bottom: 0;
        color: $grey;
        padding-bottom: 17px;
        position: absolute;
      }
    }
  }

  .history {
    .ng-item-container {
      .ng-item-name {
        @include text-truncate;
        width: calc(100% - 16px);
      }
    }
  }
}

// .sabh-collapse,
// .sabq-collapse {
//   line-height: 48px;
//   padding-left: 16px;
//   position: relative;

//   .sabh-collapse-buttons,
//   .sabq-collapse-buttons {
//     height: 48px;
//     position: absolute;
//     right: 4px;
//     top: 0;
//     width: 48px;

//     .sabh-remove-icon,
//     .sabq-remove-icon {
//       @include ripple($black);
//       background-position: 50%;
//       background-repeat: no-repeat;
//       border-radius: 100%;
//       float: right;
//       height: 48px;
//       padding: 12px;
//       width: 48px;
//     }
//   }
// }
