.panel-reddit-background {
  .panel-header-background1 {
    background-color: $reddit-color;
  }

  .panel-header-background2 {
    background-color: $reddit-color;
    background-image: image-url('RD_header.png');
    background-position: right -25px center;
    background-size: auto 75px;
  }
}

.rd-links {
  padding-bottom: 50px;
}

.rd-link-container {
  height: 72px;
  line-height: initial;

  .rd-story-url {
    @include text-truncate;
    color: $color-black;
    display: block;
    height: 100%;
    left: 72px;
    padding: 17px 0 0;
    text-decoration: none;

    &:hover {
      color: $color-black;
    }

    &:visited {
      color: $color-grey;
    }
  }

  .rd-comments-url {
    @include text-truncate;
    bottom: 17px;
    color: $color-grey;
    left: initial;
    max-width: calc(100% - 32px);
    position: absolute;
    right: initial;
    text-decoration: none;
    top: initial;

    &:hover {
      text-decoration: underline;
    }
  }

  &:hover {
    background-color: $hover-color;

    .rd-story-url {
      color: $color-black;
    }
  }
}
