@import 'modules/colors';

#calendar::shadow #headerBg {
  background-image: image-url('../img/GC_header.svg');
  background-size: auto 60%;
  background-position: 110%;
  background-color: $calendar-color;
}

#calendar::shadow #condensedHeaderBg {
  background-image: none;
  background-color: $calendar-color;
}

.today,
.tomorrow {
  h2 {
    padding: 0 16px;
  }

  a {
    right: 0 !important;
    top: auto !important;
    left: auto !important;
    bottom: auto !important;
    line-height: 1;
    display: none;
  }

  core-item:hover > a {
    display: block;
  }

  core-item {
    padding: 0 16px;
  }
}
