@import 'modules/colors';

#couchpotato::shadow #headerBg {
  background-image: image-url('../img/CP_header.png');
  background-size: auto 60%;
  background-position: 115%;
  background-color: $couchpotato-color;
}

#couchpotato::shadow #condensedHeaderBg {
  background-image: none;
  background-color: $couchpotato-color;
}

.wanted,
.snatched {
  h2 {
    height: 48px;
    line-height: 48px;
    padding: 0 16px;
  }

  .core-collapse_buttons {
    position: absolute;
    right: 8px;
    height: 40px;
    top: 0;

    a {
      color: $black;
    }
  }

  .cp_item {
    cursor: pointer;
    padding-left: 72px;
    height: 56px;

    &:hover {
      background-color: $hover-color !important;

      .cp_collapse_icon_container {
        background-color: $hover-color !important;
      }
    }

    .cp_poster_container {
      position: absolute;
      left: 16px;
      top: 9px;
      height: 38px;
      width: 38px;
      border-radius: 100%;
      overflow: hidden;

      .cp_poster {
        width: 100%;
      }
    }
  }
}

.cp_collapse_icon_container {
  background-color: $panel-background;
  position: absolute;
  right: 0;
  padding: 16px;

  .cp_collapse_icon {
    color: $clr-grey-500;
  }
}
