.panel_couchpotato_background {
  .panel_header_background1 {
    background-color: $couchpotato-color;
  }

  .panel_header_background2 {
    background-image: image-url('CP_header.png');
    background-size: auto 76.8px;
    background-position: 115%;
    background-color: $couchpotato-color;
  }
}

.wanted,
.snatched {
  h2 {
    height: 40px;
    line-height: 40px;
    padding: 0 16px;
  }

  .cp_collapse_buttons {
    position: absolute;
    right: 8px;
    height: 40px;
    top: 0;

    a {
      color: $black;
    }
  }

  .cp_item {
    cursor: pointer;
    padding-left: 72px;
    height: 56px;

    &::shadow #label {
      @include text-truncate;
      width: 272px;
    }

    &:hover {
      background-color: $hover-color !important;

      .cp_collapse_icon_container {
        background-color: $hover-color !important;
      }
    }

    .cp_poster_container {
      position: absolute;
      left: 16px;
      top: 9px;
      height: 38px;
      width: 38px;
      border-radius: 100%;
      overflow: hidden;

      .cp_poster {
        width: 100%;
      }
    }
  }
}

.cp_collapse_icon_container {
  background-color: $panel-background;
  position: absolute;
  right: 0;
  padding: 16px;

  .cp_collapse_icon {
    color: $clr-grey-500;
  }
}
