@import 'modules/colors';
@import 'modules/mixins';

#designernews::shadow #headerBg {
  background-image: image-url('../img/DN_header.png');
  background-size: auto 60%;
  background-position: 110%;
  background-color: $designernews-color;
}

#designernews::shadow #condensedHeaderBg {
  background-image: none;
  background-color: $designernews-color;
}

.dn_link_container {
  height: 72px;

  .dn_story_url {
    padding: 17px 16px 0;
    height: auto;
    @include text-truncate;
    text-decoration: none;
    color: $black;

    &:hover {
      color: $black;
    }

    &:visited {
      color: $grey;
    }
  }

  .dn_comments_url {
    margin: 0 0 17px;
    @include text-truncate;
    text-decoration: none;
    color: $grey;
    top: initial;
    left: initial;
    right: initial;
    bottom: 0;

    &:hover {
      text-decoration: underline;
    }
  }

  &:hover {
    background-color: $hover-color;

    .dn_story_url {
      color: $black;
    }
  }
}
