.panel_designernews_background {
  .panel_header_background1 {
    background-color: $designernews-color;
  }

  .panel_header_background2 {
    background-image: image-url('DN_header.png');
    background-size: auto 76.8px;
    background-position: 110%;
    background-color: $designernews-color;
  }
}

.dn_link_container {
  height: 72px;

  .dn_story_url {
    padding: 17px 16px 0;
    height: auto;
    @include text-truncate;
    text-decoration: none;
    color: $black;
    width: 312px;

    &:hover {
      color: $black;
    }

    &:visited {
      color: $grey;
    }
  }

  .dn_comments_url {
    margin: 0 0 17px;
    @include text-truncate;
    text-decoration: none;
    color: $grey;
    top: initial;
    left: initial;
    right: initial;
    bottom: 0;

    &:hover {
      text-decoration: underline;
    }
  }

  .dn_upvote_container {
    position: absolute;
    right: 0;
    padding: 24px 16px;

    .dn_upvote {
      color: $clr-grey-500;
      cursor: pointer;

      &:hover {
        color: $black;
      }
    }
  }

  &:hover {
    background-color: $hover-color;

    .dn_story_url {
      color: $black;
    }
  }
}
