#facebook::shadow #headerBg {
  background-image: image-url('../img/FB_header.png');
  background-size: auto 60%;
  background-position: 100%;
  background-color: $facebook-color;
}

#facebook::shadow #condensedHeaderBg {
  background-image: none;
  background-color: $facebook-color;
}

.notifications {
  h2 {
    padding: 0 16px;
  }

  a {
    @include text-truncate;
    color: $black;
    text-decoration: none;
    padding: 0 16px;
    line-height: 40px;
  }

  a:hover {
    background-color: $hover-color;
  }

  a:visited {
    color: $grey;
  }
}
