.panel_facebook_background {
  .panel_header_background1 {
    background-color: $facebook-color;
  }

  .panel_header_background2 {
    background-image: image-url('FB_header.png');
    background-size: auto 76.8px;
    background-position: 100%;
    background-color: $facebook-color;
  }
}

.notifications {
  a {
    @include text-truncate;
    color: $black;
    text-decoration: none;
    line-height: 48px;
    display: block;
  }

  a:visited {
    color: $grey;
  }
}
