* {
  box-sizing: border-box;
}

html,
html a {
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

a {
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: auto;
  overflow-y: hidden;
}

.settings_button {
  position: fixed;
  right: 0;
  bottom: 0;
  color: $black;
  z-index: 1;

  &::shadow #icon {
    height: 30px;
    width: 30px;
  }
}

.refresh_loading_icon {
  height: 24px;
  width: 24px;
  padding: 8px;

  &::shadow .circle {
    border-color: $white;
    border-width: 2px;
  }
}

.cleardiv {
  clear: both;
}

.float_right {
  float: right;
}

.float_left {
  float: left;
}

.error {
  @include paper-shadow(1);
  white-space: normal;
  background-color: #eee;
  color: $black;
  padding: 15px 16px 10px;
  display: none;

  .paper-button {
    font-weight: 500;
    float: right;
  }
}

.paper-flat-button {
  @include ripple(#000);
  display: block;
  float: right;
  min-width: 5.14em;
  height: 40px;
  line-height: 40px;
  margin: 0 4px;
  padding: 0 7px;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  border-radius: 3px;
}

.refresh_button {
  @include spinner;
  @include ripple();
  display: inline-block;
  height: 40px;
  width: 40px;
  padding: 8px;
  margin: 12px 8px;
  border-radius: 100%;
}

.panel {
  display: none;
  float: left;
  width: 400px;
  height: 100vh;
  overflow: hidden;
  position: relative;

  .panel_header {
    @include paper-shadow(1);
    height: 128px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
  }

  .panel_header_background {
    position: absolute;
    left: 0; top: 0;
    height: 100%;
    width: 100%;

    &1,
    &2 {
      background-repeat: no-repeat;
      position:absolute;
      width: 100%;
      height: 100%;
    }
  }

  .panel_header_foreground {
    position: absolute;
    left: 0; top: 0;
    height: 100%;
    width: 100%;
    color: $white;
    z-index: 1;

    .top,
    .bottom {
      width: 100%;
      height: 64px;
    }

    .bottom {
      padding: 0 18px;
    }

    a {
      line-height: 64px;
      color: $white;
      text-decoration: none;
      font-weight: 500;
      font-size: 18px;
    }
  }

  .panel_content {
    height: 100%;
    overflow-y: scroll;
    padding-top: 128px;
  }
}

.core_item {
  @include text-truncate;
  min-height: 48px;
  width: 100%;
  padding: 0 16px;
  position: relative;
  line-height: 48px;

  .core_item_icon {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 48px;
    padding: 12px;

    .expand_more_icon {
      height: 24px;
      width: 24px;
      background-image: image-url('icons/expand_more.svg');
    }

    .expand_less_icon {
      height: 24px;
      width: 24px;
      background-image: image-url('icons/expand_less.svg');
    }
  }

  &:not(.without_hover):hover {
    background-color: $hover-color !important;

    .core_item_icon {
      background-color: $hover-color !important;
    }
  }
}

.core_collapse {
  @include text-truncate;
  display: none;
  overflow-y: hidden;
  height: 100%;

  .edit_icon {
    @include ripple(#000);
    border-radius: 100%;
    float: right;
    height: 48px;
    width: 48px;
    background-image: image-url('icons/edit.svg');
    background-repeat: no-repeat;
    background-position: 50%;
  }
}

.bottom_bar_container {
  height: 50px;
  position: absolute;
  bottom: 0;

  .bottom_bar_part {
    display: none;
    float: left;
    width: 400px;
    height: 50px;
  }
}
