@import 'modules/colors';

body {
  margin: 0;
  padding: 0;
  overflow-x: auto;
  overflow-y: hidden;
}

.cleardiv {
  clear: both;
}

.panel {
  display: none;
  float: left;
  width: 400px;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content {
  position: relative;
}

.error {
  white-space: normal;
  background-color: #323232;
  color: $white;
  padding: 15px 16px;
  display: none;
}

core-toolbar {
  background-color: transparent;
  color: $white;
}

.middle {
  a {
    color: $white;
    text-decoration: none;
  }
}

// core-item::shadow #label:visited {
//   color: $white !important;
// }

core-item {
  padding: 0 16px;
}
