html,
html a {
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

body {
  margin: 0;
  padding: 0;
  overflow-x: auto;
  overflow-y: hidden;
}

.settings_button {
  position: fixed;
  right: 0;
  bottom: 0;
  color: $black;
  z-index: 1;

  &::shadow #icon {
    height: 30px;
    width: 30px;
  }
}

.refresh_loading_icon {
  height: 24px;
  width: 24px;
  padding: 8px;

  &::shadow .circle {
    border-color: $white;
    border-width: 2px;
  }
}

.cleardiv {
  clear: both;
}

.float_right {
  float: right;
}

.float_left {
  float: left;
}

.panel {
  background-color: $panel-background;
  display: none;
  float: left;
  width: 400px;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content {
  position: relative;
}

.error {
  white-space: normal;
  background-color: #eee;
  color: $black;
  padding: 15px 16px 10px;
  display: none;

  paper-button {
    font-weight: 500;
    float: right;
  }
}

core-toolbar {
  background-color: transparent;
  color: $white;
  box-shadow: 0 1px 5px rgba(0,0,0,0.3);
}

.middle {
  a {
    color: $white;
    text-decoration: none;
  }
}

core-item {
  padding: 0 16px;
}

.bottom_bar_container {
  height: 50px;
  position: absolute;
  bottom: 0;

  .bottom_bar_part {
    display: none;
    float: left;
    width: 400px;
    height: 50px;
  }
}
