.panel_gmail_background {
  .panel_header_background1 {
    background-color: $gmail-color;
  }

  .panel_header_background2 {
    background-image: image-url('GM_header.svg');
    background-size: auto 76.8px;
    background-position: 118%;
    background-color: $gmail-color;
  }
}

.mail_unread,
.mail_read {
  h2 {
    padding: 0 16px;
  }

  .gm_message {
    line-height: initial;
    overflow: hidden;
    height: 72px;

    &:hover {
      background-color: $hover-color;
    }
  }

  a {
    text-decoration: none;
    color: $black;
  }

  .gm_message_subject {
    @include text-truncate;
    line-height: initial;
    padding: 17px 0 0;
    width: 244px;
  }

  .gm_message_date {
    position: absolute;
    right: 16px;
    top: 16px;
  }

  .gm_message_from {
    @include text-truncate;
    line-height: initial;
    padding: 0 0 17px;
    color: $grey;
  }
}
