@import 'modules/colors';

#gmail::shadow #headerBg {
  background-image: image-url('../img/GM_header.svg');
  background-size: auto 60%;
  background-position: 118%;
  background-color: $gmail-color;
}

#gmail::shadow #condensedHeaderBg {
  background-image: none;
  background-color: $gmail-color;
}

.mail_unread,
.mail_read {
  h2 {
    padding: 0 16px;
  }

  .gm_message {
    height: 72px;

    &:hover {
      background-color: $hover-color;
    }
  }

  .gm_message_subject {
    line-height: initial;
    color: $black;
    padding: 17px 16px 0;
  }

  .gm_message_from {
    line-height: initial;
    padding: 0 16px 17px;
    color: $grey;
  }
}
