@import 'modules/colors';

#gmail::shadow #headerBg {
  background-image: image-url('../img/GM_header.svg');
  background-size: auto 60%;
  background-position: 118%;
  background-color: $gmail-color;
}

#gmail::shadow #condensedHeaderBg {
  background-image: none;
  background-color: $gmail-color;
}

.mail_unread,
.mail_read {
  h2 {
    padding: 0 16px;
  }

  a {
    right: 0 !important;
    top: auto !important;
    left: auto !important;
    bottom: auto !important;
    line-height: 1;
    display: none;
  }

  core-item:hover > a {
    display: block;
  }
}
