.options_body {
  width: auto;
}

.options_window_title {
  @include paper-shadow();
  width: 100vw;
  height: 64px;
  padding-left: 272px;
  line-height: 64px;
  color: $white;
  background-color: $calendar-color;
  transition: background .3s;
  font-weight: 500;
  font-size: 18px;
}

.options_menu {
  @include paper-shadow();
  width: 256px;
  padding: 8px 0;
  float: left;
  height: 100vh;

  .options_menu_link {
    @include ripple(#000);
    position: relative;
    width: 100%;
    height: 48px;
    line-height: 48px;
    cursor: pointer;
    padding: 0 16px;
    transition: background .5s;

    &:hover,
    &.active {
      background-color: rgb(238, 238, 238);
    }
  }

  .service_toggle {
      float: right;
    }
}

.options_content {
  width: 100%;
  padding: 8px 0 0 272px;

  #loading {
    @include spinner(#000);
    margin: 15px;
  }
}

.options_window:not(.Calendar) {
  display: none;
}

.input_container {
  position: relative;
  margin-top: 30px;

  input {
    font: inherit;
    display: block;
    width: 300px;
    border: none;
    border-bottom: 1px solid #757575;

    &:focus {
      outline:none;

      & ~ .input_bar:before,
      & ~ .input_bar:after {
        width: 50%;
      }
    }

    &:focus ~ label,
    &:valid ~ label {
      top: -20px;
      font-size: 10.5px;
    }

    &:focus ~ label {
      color: #4059a9;
    }
  }

  label {
    font-size: 14px;
    color: #AAAAAA;
    position: absolute;
    pointer-events: none;
    top: 0;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }

  .input_bar {
    position: relative;
    display: block;
    width: 300px;

    &:before,
    &:after {
      content: '';
      height: 2px;
      width: 0;
      bottom: 0;
      position: absolute;
      background: #4059a9;
      transition: 0.2s ease all;
      -moz-transition: 0.2s ease all;
      -webkit-transition: 0.2s ease all;
    }

    &:before {
      left: 50%;
    }

    &:after {
      right: 50%;
    }
  }
}


