// core-label {
//   display: block;
//   font-size: 18px;
//   font-weight: 600;
//   color: $header-grey;
//   margin-top: 10px;
// }

.options_menu {
  width: 256px;
  .options_menu_link {
    position: relative;
    width: 100%;

    .service_toggle {
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}
