.panel_sabnzbd_background {
  .panel_header_background1 {
    background-color: $sabnzbd-color;
  }

  .panel_header_background2 {
    background-image: image-url('SAB_header.png');
    background-size: auto 76.8px;
    background-position: 110%;
    background-color: $sabnzbd-color;
  }
}

.queue,
.history {
  h2 {
    padding: 0 16px;
  }

  .sab_item_name,
  .sab_item_error {
    width: 368px;
    @include text-truncate;
  }
}

.history {
  padding-bottom: 50px;
}

.sab_item_container {
  height: 72px;
  line-height: initial;
}

.sab_item_name {
  position: absolute;
  top: 0;
  padding-top: 17px;

}

.sab_item_error {
  position: absolute;
  bottom: 0;
  padding-bottom: 17px;
  color: $grey;
}

.sab_time {
  right: 16px;
  position: absolute;
  line-height: 40px;
}

.sabnzbd_info {
  @include paper-shadow(1);
  line-height: 50px;
  background-color: $panel-background;
}