@import 'modules/colors';
@import 'modules/mixins';

#sabnzbd::shadow #headerBg {
  background-image: image-url('../img/SAB_header.png');
  background-size: auto 60%;
  background-position: 110%;
  background-color: $sabnzbd-color;
}

#sabnzbd::shadow #condensedHeaderBg {
  background-image: none;
  background-color: $sabnzbd-color;
}

.queue,
.history {
  h2 {
    padding: 0 16px;
  }

  core-item::shadow #label {
    @include text-truncate;
  }
}

.sab_time {
  right: 16px;
  position: absolute;
  line-height: 40px;
}