@import 'modules/colors';

#sickbeard::shadow #headerBg {
  background-image: image-url('../img/SB_header.png');
  background-size: auto 60%;
  background-position: 110%;
  background-color: $sickbeard-color;
}

#sickbeard::shadow #condensedHeaderBg {
  background-image: none;
  background-color: $sickbeard-color;
}

.sb_missed,
.sb_today,
.sb_soon,
.sb_later {
  h2 {
    padding: 0 16px;
  }
}

.sb_item {
  cursor: pointer;
  padding-left: 72px;
  height: 56px;

  &:hover {
    background-color: $hover-color;

    .sb_collapse_icon_container {
      background-color: $hover-color;
    }
  }

  .sb_poster {
    position: absolute;
    left: 16px;
    top: 9px;
    height: 38px;
    width: 38px;
    border-radius: 100%;
  }
}

.sb_search_episode {
  position: absolute;
  right: 0;
  top: 0;
}

.sb_search_spinner {
  position: absolute;
  right: 0;
  top: 0;
  padding: 8px;
  pointer-events: none;
  height: 24px;
  width: 24px;
}

.sb_collapse_icon_container {
  background-color: $panel-background;
  position: absolute;
  right: 0;
  padding: 16px;

  .sb_collapse_icon {
    color: $clr-grey-500;
  }
}
