@import 'modules/colors';
@import 'modules/mixins';

#sickbeard::shadow #headerBg {
  background-image: image-url('../img/SB_header.png');
  background-size: auto 60%;
  background-position: 110%;
  background-color: $sickbeard-color;
}

#sickbeard::shadow #condensedHeaderBg {
  background-image: none;
  background-color: $sickbeard-color;
}

.sb_missed,
.sb_today,
.sb_soon,
.sb_later {
  h2 {
    height: 48px;
    line-height: 48px;
    padding: 0 16px;
  }
}

.sb_item {
  cursor: pointer;
  padding-left: 72px;
  height: 56px;

  &::shadow #label {
    @include text-truncate;
    width: 272px;
  }

  &:hover {
    background-color: $hover-color !important;

    .sb_collapse_icon_container {
      background-color: $hover-color !important;
    }
  }

  .sb_poster_container {
    position: absolute;
    left: 16px;
    top: 9px;
    height: 38px;
    width: 38px;
    border-radius: 100%;
    overflow: hidden;

    .sb_poster {
      width: 100%;
    }
  }
}

.sb_collapse_buttons {
  position: absolute;
  right: 8px;
  height: 40px;
  width: 80px;
  top: 0;

  a {
    color: $black;
  }
}

.sb_search_episode {
  position: relative;
  left: 0;
  top: 0;
}

.sb_search_spinner {
  position: absolute;
  left: 0;
  top: 0;
  padding: 8px;
  pointer-events: none;
  height: 24px;
  width: 24px;
}

.sb_tvdb_link {
  position: absolute;
  right: 0;
  top: 0;
}

.sb_collapse_icon_container {
  background-color: $panel-background;
  position: absolute;
  right: 0;
  padding: 16px;

  .sb_collapse_icon {
    color: $clr-grey-500;
  }
}
